<a href="https://colab.research.google.com/github/sumeet6510/Movie_data_analysis/blob/main/Sumeet_Agrawal_Guided_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You have been hired by a rookie movie producer to help him decide what type of movies to produce and which actors to cast. You have to back your recommendations based on thorough analysis of the data he shared with you which has the list of 3000 movies and the corresponding details.

As a data scientist, you have to first explore the data and check its sanity.

Further, you have to answer the following questions:
1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.
2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?
3. Find out the unique genres of movies in this dataset.
4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?
5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.
6. Top 3 directors prefer which actors the most?

# Data Exploration

In [1]:
#Import package
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
working_dir_path = '/content/drive/MyDrive/Colab Notebooks/Module 1_Phython for Data Science/Week 3/1.13 Exploratory data/'
imdb_df = pd.read_csv(working_dir_path + 'copy_imdb_data.csv')

In [4]:
imdb_df.head()

   id  ...   revenue
0   1  ...  12314651
1   2  ...  95149435
2   3  ...  13092000
3   4  ...  16000000
4   5  ...   3923970

[5 rows x 23 columns]

In [5]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.2+ KB

In [ ]:
type(imdb_df.loc[0, 'crew'])

str

In [ ]:
imdb_df.loc[0, 'crew']

'[{\'credit_id\': \'59ac067c92514107af02c8c8\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1449071, \'job\': \'First Assistant Director\', \'name\': \'Kelly Cantley\', \'profile_path\': None}, {\'credit_id\': \'52fe4ee7c3a36847f82afad7\', \'department\': \'Directing\', \'gender\': 2, \'id\': 3227, \'job\': \'Director\', \'name\': \'Steve Pink\', \'profile_path\': \'/myHOgo8mQSCiCAZNGMRdHVr03jr.jpg\'}, {\'credit_id\': \'5524ed25c3a3687ded000d88\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Writer\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed2d925141720c001128\', \'department\': \'Writing\', \'gender\': 2, \'id\': 347335, \'job\': \'Characters\', \'name\': \'Josh Heald\', \'profile_path\': \'/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg\'}, {\'credit_id\': \'5524ed3d92514166c1004a5d\', \'department\': \'Production\', \'gender\': 2, \'id\': 57822, \'job\': \'Producer\', \'name\': \'Andrew Panay\', \'profile_path\': None}, {\'credit_id\': \'5524ed4bc3a3687df3000dd2\', \'department\': \'Production\', \'gender\': 0, \'id\': 1451395, \'job\': \'Associate Producer\', \'name\': \'Adam Blum\', \'profile_path\': None}, {\'credit_id\': \'5524ed5a925141720c00112c\', \'department\': \'Production\', \'gender\': 2, \'id\': 52997, \'job\': \'Executive Producer\', \'name\': \'Rob Corddry\', \'profile_path\': \'/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg\'}, {\'credit_id\': \'5524ed85c3a3687e0e000f56\', \'department\': \'Production\', \'gender\': 0, \'id\': 62807, \'job\': \'Executive Producer\', \'name\': \'Ben Ormand\', \'profile_path\': None}, {\'credit_id\': \'5524ed9fc3a3687e0e000f59\', \'department\': \'Sound\', \'gender\': 2, \'id\': 23486, \'job\': \'Original Music Composer\', \'name\': \'Christophe Beck\', \'profile_path\': \'/2fnJUmCk6IEpVIptpYaUk31epHx.jpg\'}, {\'credit_id\': \'5524eda6c3a3687e03000d28\', \'department\': \'Camera\', \'gender\': 2, \'id\': 6117, \'job\': \'Director of Photography\', \'name\': \'Declan Quinn\', \'profile_path\': None}, {\'credit_id\': \'5524edb4925141720c00113d\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1451396, \'job\': \'Editor\', \'name\': \'Jamie Gross\', \'profile_path\': None}, {\'credit_id\': \'5524edc1925141727600102e\', \'department\': \'Production\', \'gender\': 0, \'id\': 22219, \'job\': \'Casting\', \'name\': \'Susie Farris\', \'profile_path\': None}, {\'credit_id\': \'5524edd192514171cb008257\', \'department\': \'Art\', \'gender\': 0, \'id\': 1002643, \'job\': \'Production Design\', \'name\': \'Ryan Berg\', \'profile_path\': None}, {\'credit_id\': \'555ad9be9251411e5b00d485\', \'department\': \'Production\', \'gender\': 2, \'id\': 57431, \'job\': \'Executive Producer\', \'name\': \'Matt Moore\', \'profile_path\': None}, {\'credit_id\': \'5677e93bc3a36816890087dc\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1551818, \'job\': \'Script Supervisor\', \'name\': \'Nicole Garcea\', \'profile_path\': None}, {\'credit_id\': \'5677e96a92514179e10093d0\', \'department\': \'Production\', \'gender\': 0, \'id\': 1551819, \'job\': \'Production Coordinator\', \'name\': \'Jason Salzman\', \'profile_path\': None}, {\'credit_id\': \'5677e98492514179d2008cd9\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1422996, \'job\': \'Costume Design\', \'name\': \'Carol Cutshall\', \'profile_path\': None}, {\'credit_id\': \'5677e9d5c3a368168e009414\', \'department\': \'Art\', \'gender\': 2, \'id\': 500199, \'job\': \'Set Decoration\', \'name\': \'Tim Cohn\', \'profile_path\': None}, {\'credit_id\': \'5677f89d9251417845001a61\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1527917, \'job\': \'Hair Department Head\', \'name\': \'Voni Hinkle\', \'profile_path\': None}, {\'credit_id\': \'5677f8b392514179dd0089fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431554, \'job\': \'Makeup Department Head\', \'name\': \'Remi Savva\', \'profile_path\': None}, {\'credit_id\': \'5677f8d1c3a3681689008a4b\', \'department\': \'Art\', \'gender\': 0, \'id\': 66495, \'job\': \'Art Direction\', \'name\': \'Jason Baldwin Stewart\', \'profile_path\': None}, {\'credit_id\': \'5677f8eec3a3681685008dd5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1412466, \'job\': \'Production Supervisor\', \'name\': \'Korey Budd\', \'profile_path\': None}, {\'credit_id\': \'5677f90a9251417845001a7d\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1401562, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gary C. Bourgeois\', \'profile_path\': None}, {\'credit_id\': \'5677f91e9251417845001a84\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1396794, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Gabriel J. Serrano\', \'profile_path\': None}, {\'credit_id\': \'5677f938c3a3681680008dd4\', \'department\': \'Editing\', \'gender\': 0, \'id\': 13168, \'job\': \'Dialogue Editor\', \'name\': \'Victoria Rose Sampson\', \'profile_path\': None}, {\'credit_id\': \'5677f94e92514179dd008a1f\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551839, \'job\': \'Production Sound Mixer\', \'name\': \'Michael B. Koff\', \'profile_path\': None}, {\'credit_id\': \'5677f968c3a368168e009698\', \'department\': \'Sound\', \'gender\': 0, \'id\': 113052, \'job\': \'Sound Effects Editor\', \'name\': \'Randall Guth\', \'profile_path\': None}, {\'credit_id\': \'5677f98dc3a3681685008e02\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1442535, \'job\': \'Stunt Coordinator\', \'name\': \'Chuck Picerni Jr.\', \'profile_path\': \'/yE5QtXUzcrnCzMRctZL8F5g842B.jpg\'}, {\'credit_id\': \'5677f9a692514179dd008a49\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1437305, \'job\': \'Camera Operator\', \'name\': \'Michael Applebaum\', \'profile_path\': None}, {\'credit_id\': \'5677f9bd9251417845001aae\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1401765, \'job\': \'Still Photographer\', \'name\': \'Steve Dietl\', \'profile_path\': None}, {\'credit_id\': \'5677f9e592514179e7008bf7\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402721, \'job\': \'Rigging Gaffer\', \'name\': \'Tarik Naim Alherimi\', \'profile_path\': None}, {\'credit_id\': \'5677f9f4c3a368167c0090ed\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1402719, \'job\': \'Gaffer\', \'name\': \'Paul Olinde\', \'profile_path\': None}, {\'credit_id\': \'5677fa21c3a368168e0096ca\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Supervisor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa31c3a3681680008e04\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551841, \'job\': \'Music Editor\', \'name\': \'Matt Fausak\', \'profile_path\': None}, {\'credit_id\': \'5677fa4392514179dd008a76\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1551840, \'job\': \'Music Editor\', \'name\': \'Steve Griffen\', \'profile_path\': None}, {\'credit_id\': \'5677fa609251417845001acf\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1403416, \'job\': \'Costume Supervisor\', \'name\': \'Shonta T. McCray\', \'profile_path\': None}, {\'credit_id\': \'5677fa8492514179d2008fb3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1425831, \'job\': \'Steadicam Operator\', \'name\': \'Mark Karavite\', \'profile_path\': None}, {\'credit_id\': \'5677fab2c3a3681689008ac3\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1551842, \'job\': \'First Assistant Camera\', \'name\': \'Joe Waistell\', \'profile_path\': None}, {\'credit_id\': \'5677faecc3a368168e0096fe\', \'department\': \'Sound\', \'gender\': 0, \'id\': 58362, \'job\': \'Supervising Sound Editor\', \'name\': \'Michael Hilkene\', \'profile_path\': None}, {\'credit_id\': \'59ac0368c3a3682c0a02c484\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1881584, \'job\': \'Additional Writing\', \'name\': \'John Karnay\', \'profile_path\': None}, {\'credit_id\': \'59ac0411c3a3682bf0028966\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1431552, \'job\': \'Hairstylist\', \'name\': \'Daina Daigle\', \'profile_path\': None}, {\'credit_id\': \'59ac0504925141072302b8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1712001, \'job\': \'Makeup Artist\', \'name\': \'Allison Gordin\', \'profile_path\': None}, {\'credit_id\': \'59ac0570c3a3682bf0028aac\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 578725, \'job\': \'Makeup Artist\', \'name\': \'Darryl Lucas\', \'profile_path\': None}, {\'credit_id\': \'59ac05a4925141077e02c97e\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463274, \'job\': \'Makeup Artist\', \'name\': \'Annabelle MacNeal\', \'profile_path\': None}, {\'credit_id\': \'59ac05c6925141076502d106\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881586, \'job\': \'Makeup Artist\', \'name\': \'Marina Savva\', \'profile_path\': None}, {\'credit_id\': \'59ac0615c3a3682c480296aa\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1406267, \'job\': \'Hairstylist\', \'name\': \'Carl G. Variste\', \'profile_path\': None}, {\'credit_id\': \'59ac06ba925141076502d1fa\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1798593, \'job\': \'First Assistant Director\', \'name\': \'Josh King\', \'profile_path\': None}, {\'credit_id\': \'59ac06f1c3a3682c2202aca0\', \'department\': \'Art\', \'gender\': 0, \'id\': 1415083, \'job\': \'Greensman\', \'name\': \'Scott C. Bivona\', \'profile_path\': None}, {\'credit_id\': \'59ac072c925141076502d260\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881587, \'job\': \'Title Designer\', \'name\': \'Eunha Choi\', \'profile_path\': None}, {\'credit_id\': \'59ac077c925141077e02cb62\', \'department\': \'Art\', \'gender\': 0, \'id\': 1585302, \'job\': \'Construction Coordinator\', \'name\': \'Daniel Coe\', \'profile_path\': None}, {\'credit_id\': \'59ac07e0925141078a02d842\', \'department\': \'Art\', \'gender\': 0, \'id\': 1495523, \'job\': \'Set Designer\', \'name\': \'Spencer Davison\', \'profile_path\': None}, {\'credit_id\': \'59ac0862925141072f02cf6f\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881589, \'job\': \'Painter\', \'name\': \'Sonia L. Garcia\', \'profile_path\': None}, {\'credit_id\': \'59ac08e0c3a3682bf0028e51\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424896, \'job\': \'Art Department Coordinator\', \'name\': \'Caleb Guillotte\', \'profile_path\': None}, {\'credit_id\': \'59ac0920c3a3682c2202af36\', \'department\': \'Art\', \'gender\': 0, \'id\': 1393375, \'job\': \'Leadman\', \'name\': "Pat A. O\'Connor", \'profile_path\': None}, {\'credit_id\': \'59ac095592514107af02cc39\', \'department\': \'Art\', \'gender\': 0, \'id\': 1881592, \'job\': \'Set Designer\', \'name\': \'Brendan Turrill\', \'profile_path\': None}, {\'credit_id\': \'59ac0989925141072302bdfa\', \'department\': \'Art\', \'gender\': 2, \'id\': 76497, \'job\': \'Property Master\', \'name\': \'Brook Yeaton\', \'profile_path\': None}, {\'credit_id\': \'59ac0a2cc3a3682c9c02add1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1881596, \'job\': \'Boom Operator\', \'name\': \'Matthew Armstrong\', \'profile_path\': None}, {\'credit_id\': \'59ac0aa8925141072f02d282\', \'department\': \'Visual Effects\', \'gender\': 2, \'id\': 1558086, \'job\': \'Special Effects Supervisor\', \'name\': \'Matt Kutcher\', \'profile_path\': None}, {\'credit_id\': \'59ac0b2ac3a3682c2202b192\', \'department\': \'Crew\', \'gender\': 2, \'id\': 1558087, \'job\': \'Special Effects Coordinator\', \'name\': \'Eric Roberts\', \'profile_path\': None}, {\'credit_id\': \'59ac0b7ac3a3682c2202b1fb\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1392098, \'job\': \'Visual Effects Supervisor\', \'name\': \'Rocco Passionino\', \'profile_path\': None}, {\'credit_id\': \'59ac0bbe925141077e02d0c4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1558716, \'job\': \'Visual Effects Coordinator\', \'name\': \'Joseph Payo\', \'profile_path\': None}, {\'credit_id\': \'59ac0bf2c3a3682cc802cefa\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1408784, \'job\': \'Visual Effects Producer\', \'name\': \'Chris Roff\', \'profile_path\': None}, {\'credit_id\': \'59ac0c51c3a3682c48029d99\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1881600, \'job\': \'Best Boy Electric\', \'name\': \'Ulyan Atamanyuk\', \'profile_path\': None}, {\'credit_id\': \'59ac0cbac3a3682c0a02cff6\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881602, \'job\': \'Key Grip\', \'name\': \'Chris Ekstrom\', \'profile_path\': None}, {\'credit_id\': \'59ac0d54925141072f02d5e6\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1484984, \'job\': \'Best Boy Electric\', \'name\': \'Brad Garris\', \'profile_path\': None}, {\'credit_id\': \'59ac0db0925141078a02df86\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1881603, \'job\': \'Dolly Grip\', \'name\': \'Kendell Joseph\', \'profile_path\': None}, {\'credit_id\': \'59ac0e5a925141077e02d39f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1549179, \'job\': \'Dolly Grip\', \'name\': \'Spencer Wilcox\', \'profile_path\': None}, {\'credit_id\': \'59ac0e9f925141079d02bee6\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1552626, \'job\': \'Key Costumer\', \'name\': \'Sarah P. Koeppe\', \'profile_path\': None}, {\'credit_id\': \'59ac0ec1c3a3682bf0029524\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1881605, \'job\': \'Seamstress\', \'name\': \'Catherine Rodi\', \'profile_path\': None}, {\'credit_id\': \'59ac0eef925141070702c7ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1463801, \'job\': \'Seamstress\', \'name\': \'Giselle Spence\', \'profile_path\': None}, {\'credit_id\': \'59ac0f5dc3a3682c4802a0f5\', \'department\': \'Production\', \'gender\': 0, \'id\': 1400837, \'job\': \'Location Manager\', \'name\': \'John A. Johnston\', \'profile_path\': None}, {\'credit_id\': \'59ac0ff2c3a3682c4802a196\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1844322, \'job\': \'Production Controller\', \'name\': \'Gail Marks\', \'profile_path\': None}]'

In [ ]:
print('[1, [2], 3]')

[1, [2], 3]

In [ ]:
from ast import literal_eval
#df['A'] = df['A'].apply(literal_eval)

In [ ]:
literal_eval(imdb_df.loc[0, 'crew'])[0]

{'credit_id': '59ac067c92514107af02c8c8',
 'department': 'Directing',
 'gender': 0,
 'id': 1449071,
 'job': 'First Assistant Director',
 'name': 'Kelly Cantley',
 'profile_path': None}

In [ ]:
type(literal_eval('[1, [2], 3]'))

list

In [ ]:
literal_eval(imdb_df.loc[0, 'cast'])

[{'cast_id': 4,
  'character': 'Lou',
  'credit_id': '52fe4ee7c3a36847f82afae7',
  'gender': 2,
  'id': 52997,
  'name': 'Rob Corddry',
  'order': 0,
  'profile_path': '/k2zJL0V1nEZuFT08xUdOd3ucfXz.jpg'},
 {'cast_id': 5,
  'character': 'Nick',
  'credit_id': '52fe4ee7c3a36847f82afaeb',
  'gender': 2,
  'id': 64342,
  'name': 'Craig Robinson',
  'order': 1,
  'profile_path': '/tVaRMkJXOEVhYxtnnFuhqW0Rjzz.jpg'},
 {'cast_id': 6,
  'character': 'Jacob',
  'credit_id': '52fe4ee7c3a36847f82afaef',
  'gender': 2,
  'id': 54729,
  'name': 'Clark Duke',
  'order': 2,
  'profile_path': '/oNzK0umwm5Wn0wyEbOy6TVJCSBn.jpg'},
 {'cast_id': 7,
  'character': 'Adam Jr.',
  'credit_id': '52fe4ee7c3a36847f82afaf3',
  'gender': 2,
  'id': 36801,
  'name': 'Adam Scott',
  'order': 3,
  'profile_path': '/5gb65xz8bzd42yjMAl4zwo4cvKw.jpg'},
 {'cast_id': 8,
  'character': 'Hot Tub Repairman',
  'credit_id': '52fe4ee7c3a36847f82afaf7',
  'gender': 2,
  'id': 54812,
  'name': 'Chevy Chase',
  'order': 4,
  'profile_path': '/svjpyYtPwtjvRxX9IZnOmOkhDOt.jpg'},
 {'cast_id': 9,
  'character': 'Jill',
  'credit_id': '52fe4ee7c3a36847f82afafb',
  'gender': 1,
  'id': 94098,
  'name': 'Gillian Jacobs',
  'order': 5,
  'profile_path': '/rBnhe5vhNPnhRUdtYahBWx90fJM.jpg'},
 {'cast_id': 10,
  'character': 'Sophie',
  'credit_id': '52fe4ee7c3a36847f82afaff',
  'gender': 1,
  'id': 1159009,
  'name': 'Bianca Haase',
  'order': 6,
  'profile_path': '/4x3nbtD8q8phAJPmoGWXPvz0iM.jpg'},
 {'cast_id': 11,
  'character': 'Kelly',
  'credit_id': '5524ec51c3a3687df3000dbb',
  'gender': 1,
  'id': 86624,
  'name': 'Collette Wolfe',
  'order': 7,
  'profile_path': '/aSD4h5379b2eEw3bLou9ByLimmq.jpg'},
 {'cast_id': 13,
  'character': 'Brad',
  'credit_id': '5524ec8ec3a3687ded000d72',
  'gender': 2,
  'id': 466505,
  'name': 'Kumail Nanjiani',
  'order': 9,
  'profile_path': '/x4nAztHY72SVciRfxEsbhIVTsIu.jpg'},
 {'cast_id': 14,
  'character': 'Courtney',
  'credit_id': '5524ec9bc3a3687df8000d13',
  'gender': 1,
  'id': 70776,
  'name': 'Kellee Stewart',
  'order': 10,
  'profile_path': '/w3xmsEPmJc1Cf0dQ4aIn8YmlHbk.jpg'},
 {'cast_id': 15,
  'character': 'Terry',
  'credit_id': '5524eca892514171cb008237',
  'gender': 2,
  'id': 347335,
  'name': 'Josh Heald',
  'order': 11,
  'profile_path': '/pwXJIenrDMrG7t3zNfLvr8w1RGU.jpg'},
 {'cast_id': 16,
  'character': 'Susan',
  'credit_id': '5524ecb7925141720c001116',
  'gender': 0,
  'id': 1451392,
  'name': 'Gretchen Koerner',
  'order': 12,
  'profile_path': '/muULPexCTJGyJba4yKzxronpD50.jpg'},
 {'cast_id': 17,
  'character': 'Herself',
  'credit_id': '5524ecc3c3a3687ded000d74',
  'gender': 1,
  'id': 98879,
  'name': 'Lisa Loeb',
  'order': 13,
  'profile_path': '/bGqg58ca0bZR38z9HliUMmeNGE.jpg'},
 {'cast_id': 18,
  'character': 'Herself',
  'credit_id': '5524ecd3c3a3687e11000ed3',
  'gender': 1,
  'id': 1394648,
  'name': 'Jessica Williams',
  'order': 14,
  'profile_path': '/A4syKjkcYB92wLEhH0c0hC3BCpz.jpg'},
 {'cast_id': 19,
  'character': 'Himself',
  'credit_id': '5524ece6925141718d001009',
  'gender': 0,
  'id': 1451393,
  'name': 'Bruce Buffer',
  'order': 15,
  'profile_path': None},
 {'cast_id': 20,
  'character': 'Shot Girl',
  'credit_id': '5524ecf5c3a3687e08000dc2',
  'gender': 0,
  'id': 1451394,
  'name': 'Mariana Paola Vicente',
  'order': 16,
  'profile_path': '/ckPllza8624UHWGHCbLShkLxCD1.jpg'},
 {'cast_id': 33,
  'character': 'Choozy Doozy Host',
  'credit_id': '555844da9251412afe0013a9',
  'gender': 2,
  'id': 2224,
  'name': 'Christian Slater',
  'order': 17,
  'profile_path': '/3ElLWjnvchMS6Q4cIQOK8QNAoMG.jpg'},
 {'cast_id': 35,
  'character': 'Gary Winkle',
  'credit_id': '55872027c3a3683853005074',
  'gender': 0,
  'id': 185805,
  'name': 'Jason Jones',
  'order': 18,
  'profile_path': '/aIoCw6vo8AGMdsQRAI5g2t0yJT3.jpg'},
 {'cast_id': 36,
  'character': 'Bridesmaid',
  'credit_id': '55efe971c3a368090c00cd1b',
  'gender': 0,
  'id': 1507448,
  'name': 'Olivia Jordan',
  'order': 19,
  'profile_path': '/szMukAEiIDeasel0lvyaeyKuych.jpg'},
 {'cast_id': 37,
  'character': 'Christine',
  'credit_id': '55efe980c3a36871bf008176',
  'gender': 1,
  'id': 1334091,
  'name': 'Christine Bently',
  'order': 20,
  'profile_path': '/oUZltnGa55OXE52hfyPTfCshuNy.jpg'},
 {'cast_id': 38,
  'character': 'Excited Girl',
  'credit_id': '55efe98e9251413e3201d316',
  'gender': 0,
  'id': 557803,
  'name': 'Stacey Asaro',
  'order': 21,
  'profile_path': '/qTPdlr1dXf3kNdyHuDsgtGC0HCC.jpg'},
 {'cast_id': 64,
  'character': 'Adam (uncredited)',
  'credit_id': '58f2135ac3a3682e95008b91',
  'gender': 2,
  'id': 3036,
  'name': 'John Cusack',
  'order': 22,
  'profile_path': '/uKydQYuZ9TnCzvbQLtj6j98vWAT.jpg'},
 {'cast_id': 65,
  'character': 'J-Bird',
  'credit_id': '59ac0240c3a3682cc802c399',
  'gender': 2,
  'id': 59256,
  'name': 'Adam Herschman',
  'order': 23,
  'profile_path': '/wZMwiuX1DslF6hDS50z9OTN6z1X.jpg'},
 {'cast_id': 66,
  'character': 'Bridesmaid',
  'credit_id': '59ac02cd925141079d02b1b4',
  'gender': 1,
  'id': 129714,
  'name': 'Kisha Sierra',
  'order': 24,
  'profile_path': None}]

In [ ]:
imdb_df.loc[imdb_df['budget'] ==0 ].head()

    id  ...   revenue
4    5  ...   3923970
7    8  ...   2586511
8    9  ...  34327391
11  12  ...  22642033
17  18  ...   1234254

[5 rows x 23 columns]

In [ ]:
len(imdb_df.loc[imdb_df['budget']==0])

812

# 1. Which movie made the highest profit? Who were its producer and director? Identify the actors in that film.

In [ ]:
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']

In [ ]:
imdb_df.head()

   id                              belongs_to_collection  ...   revenue    profit
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  12314651  -1685349
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  95149435  55149435
2   3                                                NaN  ...  13092000   9792000
3   4                                                NaN  ...  16000000  14800000
4   5                                                NaN  ...   3923970   3923970

[5 rows x 24 columns]

In [ ]:
imdb_df['profit'].max()

1316249360

In [ ]:
imdb_df[imdb_df['profit']==imdb_df['profit'].max()]

        id  ...      profit
1761  1762  ...  1316249360

[1 rows x 24 columns]

In [ ]:
max_profit_movie_df = imdb_df[imdb_df['profit']==imdb_df['profit'].max()]

In [ ]:
max_profit_movie_df

        id  ...      profit
1761  1762  ...  1316249360

[1 rows x 24 columns]

In [ ]:
max_profit_movie_df.loc[imdb_df['profit'].idxmax(), 'crew']

'[{\'credit_id\': \'52fe4cc8c3a36847f823e681\', \'department\': \'Production\', \'gender\': 2, \'id\': 12835, \'job\': \'Producer\', \'name\': \'Vin Diesel\', \'profile_path\': \'/7rwSXluNWZAluYMOEWBxkPmckES.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e687\', \'department\': \'Production\', \'gender\': 2, \'id\': 11874, \'job\': \'Producer\', \'name\': \'Neal H. Moritz\', \'profile_path\': \'/cNcsEYmoS4niCz3UkVAA09dUIob.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e68d\', \'department\': \'Writing\', \'gender\': 2, \'id\': 58191, \'job\': \'Writer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e693\', \'department\': \'Writing\', \'gender\': 0, \'id\': 8162, \'job\': \'Characters\', \'name\': \'Gary Scott Thompson\', \'profile_path\': \'/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e699\', \'department\': \'Directing\', \'gender\': 2, \'id\': 2127, \'job\': \'Director\', \'name\': \'James Wan\', \'profile_path\': \'/d1LSKfzi5J6QngWS7niN1zPJdud.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e6a7\', \'department\': \'Camera\', \'gender\': 2, \'id\': 58192, \'job\': \'Director of Photography\', \'name\': \'Stephen F. Windon\', \'profile_path\': None}, {\'credit_id\': \'5534714692514125dc002be4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1455610, \'job\': \'Animation\', \'name\': \'Tony Mecca\', \'profile_path\': None}, {\'credit_id\': \'554fa7b992514110bd002a9d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1421687, \'job\': \'Director of Photography\', \'name\': \'Marc Spicer\', \'profile_path\': None}, {\'credit_id\': \'554fa7cbc3a36822540047fd\', \'department\': \'Production\', \'gender\': 1, \'id\': 90635, \'job\': \'Executive Producer\', \'name\': \'Samantha Vincent\', \'profile_path\': None}, {\'credit_id\': \'554fa7d89251413fcf00773d\', \'department\': \'Production\', \'gender\': 0, \'id\': 84064, \'job\': \'Associate Producer\', \'name\': \'F. Valentino Morales\', \'profile_path\': \'/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg\'}, {\'credit_id\': \'554fa7f2c3a3682254004803\', \'department\': \'Production\', \'gender\': 2, \'id\': 8181, \'job\': \'Producer\', \'name\': \'Michael Fottrell\', \'profile_path\': None}, {\'credit_id\': \'554fa80292514110bd002aa8\', \'department\': \'Production\', \'gender\': 0, \'id\': 75826, \'job\': \'Producer\', \'name\': \'Brandon Birtell\', \'profile_path\': None}, {\'credit_id\': \'55ed993ac3a3682c62015607\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204244, \'job\': \'Editor\', \'name\': \'Leigh Folsom Boyd\', \'profile_path\': None}, {\'credit_id\': \'55ed994cc3a3687d3b00d64c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204245, \'job\': \'Editor\', \'name\': \'Dylan Highsmith\', \'profile_path\': None}, {\'credit_id\': \'55ed995dc3a3682c5d016867\', \'department\': \'Editing\', \'gender\': 0, \'id\': 62813, \'job\': \'Editor\', \'name\': \'Kirk M. Morri\', \'profile_path\': None}, {\'credit_id\': \'55ed99739251413e41014641\', \'department\': \'Editing\', \'gender\': 2, \'id\': 6668, \'job\': \'Editor\', \'name\': \'Christian Wagner\', \'profile_path\': None}, {\'credit_id\': \'55ed99859251413e3a014aae\', \'department\': \'Production\', \'gender\': 1, \'id\': 9545, \'job\': \'Casting\', \'name\': \'Anne McCarthy\', \'profile_path\': None}, {\'credit_id\': \'55ed99a4c3a3682c5d016875\', \'department\': \'Production\', \'gender\': 0, \'id\': 1276602, \'job\': \'Casting\', \'name\': \'Kellie Roy\', \'profile_path\': None}, {\'credit_id\': \'55ed99c7c3a3682c5d01687e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1445830, \'job\': \'Art Direction\', \'name\': \'Jonathan Carlos\', \'profile_path\': None}, {\'credit_id\': \'55ed99d89251413e32014a65\', \'department\': \'Art\', \'gender\': 2, \'id\': 62780, \'job\': \'Art Direction\', \'name\': \'Alan Hook\', \'profile_path\': None}, {\'credit_id\': \'55ed99e992514106d600d85e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1493864, \'job\': \'Art Direction\', \'name\': \'Jay Pelissier\', \'profile_path\': None}, {\'credit_id\': \'55ed9a36c3a3682c700147e3\', \'department\': \'Art\', \'gender\': 1, \'id\': 1506359, \'job\': \'Art Department Coordinator\', \'name\': \'Kelly Richardson\', \'profile_path\': None}, {\'credit_id\': \'55ed9a52c3a3682c640130c3\', \'department\': \'Art\', \'gender\': 0, \'id\': 1506360, \'job\': \'Art Department Coordinator\', \'name\': \'Courtney Cocherell\', \'profile_path\': None}, {\'credit_id\': \'55ed9a6cc3a368090c004f9c\', \'department\': \'Art\', \'gender\': 0, \'id\': 1326651, \'job\': \'Assistant Art Director\', \'name\': \'Elena Albanese\', \'profile_path\': None}, {\'credit_id\': \'55ed9a96c3a3686f17003be1\', \'department\': \'Art\', \'gender\': 0, \'id\': 1405376, \'job\': \'Assistant Art Director\', \'name\': \'Alex McCarroll\', \'profile_path\': None}, {\'credit_id\': \'55ed9acbc3a3682c640130e4\', \'department\': \'Art\', \'gender\': 0, \'id\': 1338147, \'job\': \'Construction Coordinator\', \'name\': \'Bruce Di Valerio\', \'profile_path\': None}, {\'credit_id\': \'55ed9b03c3a3682c640130f5\', \'department\': \'Art\', \'gender\': 2, \'id\': 52600, \'job\': \'Production Design\', \'name\': \'Bill Brzeski\', \'profile_path\': None}, {\'credit_id\': \'55ed9b169251413e2f0145a8\', \'department\': \'Art\', \'gender\': 1, \'id\': 75391, \'job\': \'Set Decoration\', \'name\': \'Danielle Berman\', \'profile_path\': None}, {\'credit_id\': \'55ed9b29c3a3682c5d0168d9\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 2519, \'job\': \'Costume Design\', \'name\': \'Sanja Milkovic Hays\', \'profile_path\': None}, {\'credit_id\': \'55ed9bdac3a3682c62015698\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439109, \'job\': \'Costume Supervisor\', \'name\': \'Nava R. Sadan\', \'profile_path\': None}, {\'credit_id\': \'55ed9c0bc3a3686f17003c45\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439747, \'job\': \'Costume Supervisor\', \'name\': \'Andrew Hunt\', \'profile_path\': None}, {\'credit_id\': \'55ed9c3192514106d600d8e0\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506364, \'job\': \'Set Costumer\', \'name\': \'Jim Alan Cook\', \'profile_path\': None}, {\'credit_id\': \'55ed9c45c3a3682c5d016925\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1415019, \'job\': \'Set Costumer\', \'name\': \'Shayne Allen Duhon\', \'profile_path\': None}, {\'credit_id\': \'55ed9c579251413e32014af5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506365, \'job\': \'Set Costumer\', \'name\': \'Empress Holley\', \'profile_path\': None}, {\'credit_id\': \'55ed9c6d9251413e450148ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1413125, \'job\': \'Set Costumer\', \'name\': \'Marina Marit\', \'profile_path\': None}, {\'credit_id\': \'55ed9c8d92514106d600d8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506366, \'job\': \'Set Costumer\', \'name\': \'Les Morgan\', \'profile_path\': None}, {\'credit_id\': \'55ed9cda9251413e2f014612\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1408293, \'job\': \'Hairstylist\', \'name\': \'Linda D. Flowers\', \'profile_path\': None}, {\'credit_id\': \'55ed9cf69251413e2f01461d\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1412767, \'job\': \'Hairstylist\', \'name\': "Yesim \'Shimmy\' Osman", \'profile_path\': None}, {\'credit_id\': \'55ed9d0ec3a3687d3b00d73a\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506367, \'job\': \'Hairstylist\', \'name\': \'Jennifer Santiago\', \'profile_path\': None}, {\'credit_id\': \'55ed9d2a9251413e3e0155d8\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1425409, \'job\': \'Hairstylist\', \'name\': \'Rachel Solow\', \'profile_path\': None}, {\'credit_id\': \'55ed9d4cc3a3682c620156ed\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1452643, \'job\': \'Hairstylist\', \'name\': \'Roxane Griffin\', \'profile_path\': None}, {\'credit_id\': \'55ed9d6fc3a3682c5d01696f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1309209, \'job\': \'Makeup Department Head\', \'name\': \'James MacKinnon\', \'profile_path\': None}, {\'credit_id\': \'55ed9d8cc3a368090c00504f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506368, \'job\': \'Makeup Artist\', \'name\': \'Autumn Butler\', \'profile_path\': None}, {\'credit_id\': \'55ed9da09251413e3a014b98\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1437798, \'job\': \'Makeup Artist\', \'name\': "Roxy D\'Alonzo", \'profile_path\': None}, {\'credit_id\': \'55ed9db79251413e3a014ba5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506369, \'job\': \'Makeup Artist\', \'name\': \'Hee Soo Kwon\', \'profile_path\': None}, {\'credit_id\': \'55ed9dce9251413e32014b4e\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 1459196, \'job\': \'Makeup Artist\', \'name\': \'Sarah Mays\', \'profile_path\': None}, {\'credit_id\': \'55ed9de4c3a3687d3b00d775\', \'department\': \'Costume & Make-Up\', \'gender\': 2, \'id\': 15330, \'job\': \'Makeup Artist\', \'name\': \'Paul Pattison\', \'profile_path\': None}, {\'credit_id\': \'55ed9df99251413e3e015610\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1317667, \'job\': \'Makeup Artist\', \'name\': \'Eleanor Sabaduquia\', \'profile_path\': None}, {\'credit_id\': \'55ed9e1fc3a3687d3b00d77e\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1414497, \'job\': \'Property Master\', \'name\': \'Guillaume DeLouche\', \'profile_path\': None}, {\'credit_id\': \'55ed9e3ac3a368090c005084\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1464516, \'job\': \'Property Master\', \'name\': \'Douglas T. Madison\', \'profile_path\': None}, {\'credit_id\': \'55ed9f5d9251413e3e015662\', \'department\': \'Crew\', \'gender\': 2, \'id\': 57158, \'job\': \'Second Unit Cinematographer\', \'name\': \'Igor Meglic\', \'profile_path\': None}, {\'credit_id\': \'55ed9fa0c3a3682c6401320f\', \'department\': \'Crew\', \'gender\': 0, \'id\': 13670, \'job\': \'Second Unit Cinematographer\', \'name\': \'Jacques Haitkin\', \'profile_path\': None}, {\'credit_id\': \'55ed9fc59251413e32014bbc\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1437304, \'job\': \'Gaffer\', \'name\': \'Michael Ambrose\', \'profile_path\': None}, {\'credit_id\': \'55ed9fe79251413e410147e4\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506371, \'job\': \'Camera Operator\', \'name\': \'Denise Bailie\', \'profile_path\': None}, {\'credit_id\': \'55ed9ffa9251413e3a014c40\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506373, \'job\': \'Camera Operator\', \'name\': \'Robert-James Bova\', \'profile_path\': None}, {\'credit_id\': \'55eda0299251413e3a014c49\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1439108, \'job\': \'Rigging Gaffer\', \'name\': \'Tom Fendley\', \'profile_path\': None}, {\'credit_id\': \'55eda056c3a3682c7001494b\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1434896, \'job\': \'Camera Operator\', \'name\': \'Sarah Levy\', \'profile_path\': None}, {\'credit_id\': \'55eda06e9251413e450149ee\', \'department\': \'Camera\', \'gender\': 2, \'id\': 74989, \'job\': \'Camera Operator\', \'name\': \'Mark Emery Moore\', \'profile_path\': \'/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg\'}, {\'credit_id\': \'55eda082c3a3682c6b014009\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1432918, \'job\': \'Camera Operator\', \'name\': \'Daniel Nichols\', \'profile_path\': None}, {\'credit_id\': \'55eda09d9251413e3e01569d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1439104, \'job\': \'Camera Operator\', \'name\': \'Onofrio Nino Pansini\', \'profile_path\': None}, {\'credit_id\': \'55eda0b59251413e3a014c6c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1408356, \'job\': \'Camera Operator\', \'name\': \'David Richert\', \'profile_path\': None}, {\'credit_id\': \'55eda0d1c3a3686f17003d58\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1411271, \'job\': \'Camera Operator\', \'name\': \'Michael J. Walker\', \'profile_path\': None}, {\'credit_id\': \'55eda0f7c3a3687d3b00d81b\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1378241, \'job\': \'Camera Operator\', \'name\': \'Maurice K. McGuire\', \'profile_path\': None}, {\'credit_id\': \'55eda1159251413e3e0156bd\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1411842, \'job\': \'Camera Operator\', \'name\': \'Richard Latham\', \'profile_path\': None}, {\'credit_id\': \'55eda12c92514106d600da0a\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1404739, \'job\': \'Helicopter Camera\', \'name\': \'Steve Koster\', \'profile_path\': None}, {\'credit_id\': \'55eda1939251413e3501498d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 91122, \'job\': \'Helicopter Camera\', \'name\': \'Dylan Goss\', \'profile_path\': None}, {\'credit_id\': \'55eda1b39251413e3a014ca8\', \'department\': \'Camera\', \'gender\': 0, \'id\': 82169, \'job\': \'Steadicam Operator\', \'name\': \'Geoffrey Haley\', \'profile_path\': None}, {\'credit_id\': \'55eda1c7c3a3686f17003d8c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1419105, \'job\': \'Still Photographer\', \'name\': \'Scott Garfield\', \'profile_path\': None}, {\'credit_id\': \'55eda1dbc3a3686f17003d92\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1395281, \'job\': \'Additional Camera\', \'name\': \'Bob Gorelick\', \'profile_path\': None}, {\'credit_id\': \'55eda200c3a3682c5d016a8f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1375920, \'job\': \'Additional Camera\', \'name\': \'J. Christopher Campbell\', \'profile_path\': None}, {\'credit_id\': \'55eda228c3a3682c64013295\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1403412, \'job\': \'Gaffer\', \'name\': \'Dan Cornwall\', \'profile_path\': None}, {\'credit_id\': \'55eda25f92514106d600da4b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1442137, \'job\': \'Animation Supervisor\', \'name\': \'Catherine Mullan\', \'profile_path\': None}, {\'credit_id\': \'55eda292c3a3682c5d016ab2\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1393405, \'job\': \'Music Editor\', \'name\': \'Robb Boyd\', \'profile_path\': None}, {\'credit_id\': \'55eda2a9c3a3682c6b014075\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1328758, \'job\': \'Music Editor\', \'name\': \'Matthew Llewellyn\', \'profile_path\': None}, {\'credit_id\': \'55eda2c89251413e45014a6d\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1389138, \'job\': \'Script Supervisor\', \'name\': \'Jody Blose\', \'profile_path\': None}, {\'credit_id\': \'55eda305c3a3682c700149c1\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1408365, \'job\': \'Script Supervisor\', \'name\': \'Brenda K. Wachel\', \'profile_path\': None}, {\'credit_id\': \'55eda32dc3a3686f17003ddd\', \'department\': \'Crew\', \'gender\': 2, \'id\': 8167, \'job\': \'Thanks\', \'name\': \'Paul Walker\', \'profile_path\': \'/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg\'}, {\'credit_id\': \'55eda3b592514106d600da94\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1400354, \'job\': \'Digital Intermediate\', \'name\': \'Amy Pawlowski\', \'profile_path\': None}, {\'credit_id\': \'55eda3d792514106d600da9b\', \'department\': \'Editing\', \'gender\': 0, \'id\': 110262, \'job\': \'First Assistant Editor\', \'name\': \'Richard Conkling\', \'profile_path\': None}, {\'credit_id\': \'55eda3edc3a3686f17003e0c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1194885, \'job\': \'First Assistant Editor\', \'name\': \'Dave  Cory\', \'profile_path\': None}, {\'credit_id\': \'55eda4169251413e410148ec\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1439749, \'job\': \'First Assistant Editor\', \'name\': \'Laura Steiger\', \'profile_path\': None}, {\'credit_id\': \'55eda48092514106d600daba\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1506377, \'job\': \'Animation Supervisor\', \'name\': \'Daniel Barrett\', \'profile_path\': \'/pplTJP3gCWmP3SMDrXjOt1579MV.jpg\'}, {\'credit_id\': \'55eda5109251413e32014cf0\', \'department\': \'Sound\', \'gender\': 0, \'id\': 12562, \'job\': \'ADR & Dubbing\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda51ac3a3686f17003e52\', \'department\': \'Editing\', \'gender\': 0, \'id\': 12562, \'job\': \'Dialogue Editor\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda539c3a368090c0051c2\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1342658, \'job\': \'Dialogue Editor\', \'name\': \'Frederick H. Stahly\', \'profile_path\': None}, {\'credit_id\': \'55eda56a9251413e45014adf\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1077782, \'job\': \'Foley\', \'name\': \'Gary A. Hecker\', \'profile_path\': \'/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg\'}, {\'credit_id\': \'55eda58292514106d600daf4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1367362, \'job\': \'Foley\', \'name\': \'Rick Owens\', \'profile_path\': None}, {\'credit_id\': \'55eda59ac3a3682c5d016b50\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1236340, \'job\': \'Foley\', \'name\': \'Dylan Tuomy-Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda5b09251413e45014af1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 548445, \'job\': \'Foley\', \'name\': \'Jeffrey Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda7169251413e45014b3b\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7239, \'job\': \'Sound Designer\', \'name\': \'Peter Brown\', \'profile_path\': None}, {\'credit_id\': \'55eda73d9251413e4101498c\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1392083, \'job\': \'Sound Designer\', \'name\': \'Ann Scibelli\', \'profile_path\': None}, {\'credit_id\': \'55eda779c3a3682c70014abc\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1413453, \'job\': \'Sound Effects Editor\', \'name\': \'Stephen P. Robinson\', \'profile_path\': None}, {\'credit_id\': \'55eda7989251413e3e015838\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394131, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Jon Taylor\', \'profile_path\': None}, {\'credit_id\': \'55eda7afc3a3686f17003ebf\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394130, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Frank A. Monta√±o\', \'profile_path\': None}, {\'credit_id\': \'55eda7d79251413e32014e11\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1309884, \'job\': \'Supervising Sound Editor\', \'name\': \'Joe Dzuban\', \'profile_path\': None}, {\'credit_id\': \'570bd40dc3a36802a30002d9\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424153, \'job\': \'Supervising Art Director\', \'name\': \'Desma Murphy\', \'profile_path\': None}, {\'credit_id\': \'5668cc7a92514174040040f2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 6041, \'job\': \'Original Music Composer\', \'name\': \'Brian Tyler\', \'profile_path\': \'/22QWiNJj03amY6GT1QPUs7dbdcB.jpg\'}, {\'credit_id\': \'58ebe1fa925141281008e943\', \'department\': \'Production\', \'gender\': 2, \'id\': 58191, \'job\': \'Executive Producer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}]'

In [ ]:
max_profit_movie_df.iloc[0]['crew']

'[{\'credit_id\': \'52fe4cc8c3a36847f823e681\', \'department\': \'Production\', \'gender\': 2, \'id\': 12835, \'job\': \'Producer\', \'name\': \'Vin Diesel\', \'profile_path\': \'/7rwSXluNWZAluYMOEWBxkPmckES.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e687\', \'department\': \'Production\', \'gender\': 2, \'id\': 11874, \'job\': \'Producer\', \'name\': \'Neal H. Moritz\', \'profile_path\': \'/cNcsEYmoS4niCz3UkVAA09dUIob.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e68d\', \'department\': \'Writing\', \'gender\': 2, \'id\': 58191, \'job\': \'Writer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e693\', \'department\': \'Writing\', \'gender\': 0, \'id\': 8162, \'job\': \'Characters\', \'name\': \'Gary Scott Thompson\', \'profile_path\': \'/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e699\', \'department\': \'Directing\', \'gender\': 2, \'id\': 2127, \'job\': \'Director\', \'name\': \'James Wan\', \'profile_path\': \'/d1LSKfzi5J6QngWS7niN1zPJdud.jpg\'}, {\'credit_id\': \'52fe4cc8c3a36847f823e6a7\', \'department\': \'Camera\', \'gender\': 2, \'id\': 58192, \'job\': \'Director of Photography\', \'name\': \'Stephen F. Windon\', \'profile_path\': None}, {\'credit_id\': \'5534714692514125dc002be4\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1455610, \'job\': \'Animation\', \'name\': \'Tony Mecca\', \'profile_path\': None}, {\'credit_id\': \'554fa7b992514110bd002a9d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1421687, \'job\': \'Director of Photography\', \'name\': \'Marc Spicer\', \'profile_path\': None}, {\'credit_id\': \'554fa7cbc3a36822540047fd\', \'department\': \'Production\', \'gender\': 1, \'id\': 90635, \'job\': \'Executive Producer\', \'name\': \'Samantha Vincent\', \'profile_path\': None}, {\'credit_id\': \'554fa7d89251413fcf00773d\', \'department\': \'Production\', \'gender\': 0, \'id\': 84064, \'job\': \'Associate Producer\', \'name\': \'F. Valentino Morales\', \'profile_path\': \'/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg\'}, {\'credit_id\': \'554fa7f2c3a3682254004803\', \'department\': \'Production\', \'gender\': 2, \'id\': 8181, \'job\': \'Producer\', \'name\': \'Michael Fottrell\', \'profile_path\': None}, {\'credit_id\': \'554fa80292514110bd002aa8\', \'department\': \'Production\', \'gender\': 0, \'id\': 75826, \'job\': \'Producer\', \'name\': \'Brandon Birtell\', \'profile_path\': None}, {\'credit_id\': \'55ed993ac3a3682c62015607\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204244, \'job\': \'Editor\', \'name\': \'Leigh Folsom Boyd\', \'profile_path\': None}, {\'credit_id\': \'55ed994cc3a3687d3b00d64c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1204245, \'job\': \'Editor\', \'name\': \'Dylan Highsmith\', \'profile_path\': None}, {\'credit_id\': \'55ed995dc3a3682c5d016867\', \'department\': \'Editing\', \'gender\': 0, \'id\': 62813, \'job\': \'Editor\', \'name\': \'Kirk M. Morri\', \'profile_path\': None}, {\'credit_id\': \'55ed99739251413e41014641\', \'department\': \'Editing\', \'gender\': 2, \'id\': 6668, \'job\': \'Editor\', \'name\': \'Christian Wagner\', \'profile_path\': None}, {\'credit_id\': \'55ed99859251413e3a014aae\', \'department\': \'Production\', \'gender\': 1, \'id\': 9545, \'job\': \'Casting\', \'name\': \'Anne McCarthy\', \'profile_path\': None}, {\'credit_id\': \'55ed99a4c3a3682c5d016875\', \'department\': \'Production\', \'gender\': 0, \'id\': 1276602, \'job\': \'Casting\', \'name\': \'Kellie Roy\', \'profile_path\': None}, {\'credit_id\': \'55ed99c7c3a3682c5d01687e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1445830, \'job\': \'Art Direction\', \'name\': \'Jonathan Carlos\', \'profile_path\': None}, {\'credit_id\': \'55ed99d89251413e32014a65\', \'department\': \'Art\', \'gender\': 2, \'id\': 62780, \'job\': \'Art Direction\', \'name\': \'Alan Hook\', \'profile_path\': None}, {\'credit_id\': \'55ed99e992514106d600d85e\', \'department\': \'Art\', \'gender\': 0, \'id\': 1493864, \'job\': \'Art Direction\', \'name\': \'Jay Pelissier\', \'profile_path\': None}, {\'credit_id\': \'55ed9a36c3a3682c700147e3\', \'department\': \'Art\', \'gender\': 1, \'id\': 1506359, \'job\': \'Art Department Coordinator\', \'name\': \'Kelly Richardson\', \'profile_path\': None}, {\'credit_id\': \'55ed9a52c3a3682c640130c3\', \'department\': \'Art\', \'gender\': 0, \'id\': 1506360, \'job\': \'Art Department Coordinator\', \'name\': \'Courtney Cocherell\', \'profile_path\': None}, {\'credit_id\': \'55ed9a6cc3a368090c004f9c\', \'department\': \'Art\', \'gender\': 0, \'id\': 1326651, \'job\': \'Assistant Art Director\', \'name\': \'Elena Albanese\', \'profile_path\': None}, {\'credit_id\': \'55ed9a96c3a3686f17003be1\', \'department\': \'Art\', \'gender\': 0, \'id\': 1405376, \'job\': \'Assistant Art Director\', \'name\': \'Alex McCarroll\', \'profile_path\': None}, {\'credit_id\': \'55ed9acbc3a3682c640130e4\', \'department\': \'Art\', \'gender\': 0, \'id\': 1338147, \'job\': \'Construction Coordinator\', \'name\': \'Bruce Di Valerio\', \'profile_path\': None}, {\'credit_id\': \'55ed9b03c3a3682c640130f5\', \'department\': \'Art\', \'gender\': 2, \'id\': 52600, \'job\': \'Production Design\', \'name\': \'Bill Brzeski\', \'profile_path\': None}, {\'credit_id\': \'55ed9b169251413e2f0145a8\', \'department\': \'Art\', \'gender\': 1, \'id\': 75391, \'job\': \'Set Decoration\', \'name\': \'Danielle Berman\', \'profile_path\': None}, {\'credit_id\': \'55ed9b29c3a3682c5d0168d9\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 2519, \'job\': \'Costume Design\', \'name\': \'Sanja Milkovic Hays\', \'profile_path\': None}, {\'credit_id\': \'55ed9bdac3a3682c62015698\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439109, \'job\': \'Costume Supervisor\', \'name\': \'Nava R. Sadan\', \'profile_path\': None}, {\'credit_id\': \'55ed9c0bc3a3686f17003c45\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1439747, \'job\': \'Costume Supervisor\', \'name\': \'Andrew Hunt\', \'profile_path\': None}, {\'credit_id\': \'55ed9c3192514106d600d8e0\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506364, \'job\': \'Set Costumer\', \'name\': \'Jim Alan Cook\', \'profile_path\': None}, {\'credit_id\': \'55ed9c45c3a3682c5d016925\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1415019, \'job\': \'Set Costumer\', \'name\': \'Shayne Allen Duhon\', \'profile_path\': None}, {\'credit_id\': \'55ed9c579251413e32014af5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506365, \'job\': \'Set Costumer\', \'name\': \'Empress Holley\', \'profile_path\': None}, {\'credit_id\': \'55ed9c6d9251413e450148ff\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1413125, \'job\': \'Set Costumer\', \'name\': \'Marina Marit\', \'profile_path\': None}, {\'credit_id\': \'55ed9c8d92514106d600d8fb\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506366, \'job\': \'Set Costumer\', \'name\': \'Les Morgan\', \'profile_path\': None}, {\'credit_id\': \'55ed9cda9251413e2f014612\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1408293, \'job\': \'Hairstylist\', \'name\': \'Linda D. Flowers\', \'profile_path\': None}, {\'credit_id\': \'55ed9cf69251413e2f01461d\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1412767, \'job\': \'Hairstylist\', \'name\': "Yesim \'Shimmy\' Osman", \'profile_path\': None}, {\'credit_id\': \'55ed9d0ec3a3687d3b00d73a\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506367, \'job\': \'Hairstylist\', \'name\': \'Jennifer Santiago\', \'profile_path\': None}, {\'credit_id\': \'55ed9d2a9251413e3e0155d8\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1425409, \'job\': \'Hairstylist\', \'name\': \'Rachel Solow\', \'profile_path\': None}, {\'credit_id\': \'55ed9d4cc3a3682c620156ed\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1452643, \'job\': \'Hairstylist\', \'name\': \'Roxane Griffin\', \'profile_path\': None}, {\'credit_id\': \'55ed9d6fc3a3682c5d01696f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1309209, \'job\': \'Makeup Department Head\', \'name\': \'James MacKinnon\', \'profile_path\': None}, {\'credit_id\': \'55ed9d8cc3a368090c00504f\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506368, \'job\': \'Makeup Artist\', \'name\': \'Autumn Butler\', \'profile_path\': None}, {\'credit_id\': \'55ed9da09251413e3a014b98\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1437798, \'job\': \'Makeup Artist\', \'name\': "Roxy D\'Alonzo", \'profile_path\': None}, {\'credit_id\': \'55ed9db79251413e3a014ba5\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1506369, \'job\': \'Makeup Artist\', \'name\': \'Hee Soo Kwon\', \'profile_path\': None}, {\'credit_id\': \'55ed9dce9251413e32014b4e\', \'department\': \'Costume & Make-Up\', \'gender\': 1, \'id\': 1459196, \'job\': \'Makeup Artist\', \'name\': \'Sarah Mays\', \'profile_path\': None}, {\'credit_id\': \'55ed9de4c3a3687d3b00d775\', \'department\': \'Costume & Make-Up\', \'gender\': 2, \'id\': 15330, \'job\': \'Makeup Artist\', \'name\': \'Paul Pattison\', \'profile_path\': None}, {\'credit_id\': \'55ed9df99251413e3e015610\', \'department\': \'Costume & Make-Up\', \'gender\': 0, \'id\': 1317667, \'job\': \'Makeup Artist\', \'name\': \'Eleanor Sabaduquia\', \'profile_path\': None}, {\'credit_id\': \'55ed9e1fc3a3687d3b00d77e\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1414497, \'job\': \'Property Master\', \'name\': \'Guillaume DeLouche\', \'profile_path\': None}, {\'credit_id\': \'55ed9e3ac3a368090c005084\', \'department\': \'Crew\', \'gender\': 0, \'id\': 1464516, \'job\': \'Property Master\', \'name\': \'Douglas T. Madison\', \'profile_path\': None}, {\'credit_id\': \'55ed9f5d9251413e3e015662\', \'department\': \'Crew\', \'gender\': 2, \'id\': 57158, \'job\': \'Second Unit Cinematographer\', \'name\': \'Igor Meglic\', \'profile_path\': None}, {\'credit_id\': \'55ed9fa0c3a3682c6401320f\', \'department\': \'Crew\', \'gender\': 0, \'id\': 13670, \'job\': \'Second Unit Cinematographer\', \'name\': \'Jacques Haitkin\', \'profile_path\': None}, {\'credit_id\': \'55ed9fc59251413e32014bbc\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1437304, \'job\': \'Gaffer\', \'name\': \'Michael Ambrose\', \'profile_path\': None}, {\'credit_id\': \'55ed9fe79251413e410147e4\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506371, \'job\': \'Camera Operator\', \'name\': \'Denise Bailie\', \'profile_path\': None}, {\'credit_id\': \'55ed9ffa9251413e3a014c40\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1506373, \'job\': \'Camera Operator\', \'name\': \'Robert-James Bova\', \'profile_path\': None}, {\'credit_id\': \'55eda0299251413e3a014c49\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1439108, \'job\': \'Rigging Gaffer\', \'name\': \'Tom Fendley\', \'profile_path\': None}, {\'credit_id\': \'55eda056c3a3682c7001494b\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1434896, \'job\': \'Camera Operator\', \'name\': \'Sarah Levy\', \'profile_path\': None}, {\'credit_id\': \'55eda06e9251413e450149ee\', \'department\': \'Camera\', \'gender\': 2, \'id\': 74989, \'job\': \'Camera Operator\', \'name\': \'Mark Emery Moore\', \'profile_path\': \'/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg\'}, {\'credit_id\': \'55eda082c3a3682c6b014009\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1432918, \'job\': \'Camera Operator\', \'name\': \'Daniel Nichols\', \'profile_path\': None}, {\'credit_id\': \'55eda09d9251413e3e01569d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1439104, \'job\': \'Camera Operator\', \'name\': \'Onofrio Nino Pansini\', \'profile_path\': None}, {\'credit_id\': \'55eda0b59251413e3a014c6c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1408356, \'job\': \'Camera Operator\', \'name\': \'David Richert\', \'profile_path\': None}, {\'credit_id\': \'55eda0d1c3a3686f17003d58\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1411271, \'job\': \'Camera Operator\', \'name\': \'Michael J. Walker\', \'profile_path\': None}, {\'credit_id\': \'55eda0f7c3a3687d3b00d81b\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1378241, \'job\': \'Camera Operator\', \'name\': \'Maurice K. McGuire\', \'profile_path\': None}, {\'credit_id\': \'55eda1159251413e3e0156bd\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1411842, \'job\': \'Camera Operator\', \'name\': \'Richard Latham\', \'profile_path\': None}, {\'credit_id\': \'55eda12c92514106d600da0a\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1404739, \'job\': \'Helicopter Camera\', \'name\': \'Steve Koster\', \'profile_path\': None}, {\'credit_id\': \'55eda1939251413e3501498d\', \'department\': \'Camera\', \'gender\': 0, \'id\': 91122, \'job\': \'Helicopter Camera\', \'name\': \'Dylan Goss\', \'profile_path\': None}, {\'credit_id\': \'55eda1b39251413e3a014ca8\', \'department\': \'Camera\', \'gender\': 0, \'id\': 82169, \'job\': \'Steadicam Operator\', \'name\': \'Geoffrey Haley\', \'profile_path\': None}, {\'credit_id\': \'55eda1c7c3a3686f17003d8c\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1419105, \'job\': \'Still Photographer\', \'name\': \'Scott Garfield\', \'profile_path\': None}, {\'credit_id\': \'55eda1dbc3a3686f17003d92\', \'department\': \'Camera\', \'gender\': 2, \'id\': 1395281, \'job\': \'Additional Camera\', \'name\': \'Bob Gorelick\', \'profile_path\': None}, {\'credit_id\': \'55eda200c3a3682c5d016a8f\', \'department\': \'Camera\', \'gender\': 0, \'id\': 1375920, \'job\': \'Additional Camera\', \'name\': \'J. Christopher Campbell\', \'profile_path\': None}, {\'credit_id\': \'55eda228c3a3682c64013295\', \'department\': \'Lighting\', \'gender\': 0, \'id\': 1403412, \'job\': \'Gaffer\', \'name\': \'Dan Cornwall\', \'profile_path\': None}, {\'credit_id\': \'55eda25f92514106d600da4b\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1442137, \'job\': \'Animation Supervisor\', \'name\': \'Catherine Mullan\', \'profile_path\': None}, {\'credit_id\': \'55eda292c3a3682c5d016ab2\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1393405, \'job\': \'Music Editor\', \'name\': \'Robb Boyd\', \'profile_path\': None}, {\'credit_id\': \'55eda2a9c3a3682c6b014075\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1328758, \'job\': \'Music Editor\', \'name\': \'Matthew Llewellyn\', \'profile_path\': None}, {\'credit_id\': \'55eda2c89251413e45014a6d\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1389138, \'job\': \'Script Supervisor\', \'name\': \'Jody Blose\', \'profile_path\': None}, {\'credit_id\': \'55eda305c3a3682c700149c1\', \'department\': \'Directing\', \'gender\': 0, \'id\': 1408365, \'job\': \'Script Supervisor\', \'name\': \'Brenda K. Wachel\', \'profile_path\': None}, {\'credit_id\': \'55eda32dc3a3686f17003ddd\', \'department\': \'Crew\', \'gender\': 2, \'id\': 8167, \'job\': \'Thanks\', \'name\': \'Paul Walker\', \'profile_path\': \'/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg\'}, {\'credit_id\': \'55eda3b592514106d600da94\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1400354, \'job\': \'Digital Intermediate\', \'name\': \'Amy Pawlowski\', \'profile_path\': None}, {\'credit_id\': \'55eda3d792514106d600da9b\', \'department\': \'Editing\', \'gender\': 0, \'id\': 110262, \'job\': \'First Assistant Editor\', \'name\': \'Richard Conkling\', \'profile_path\': None}, {\'credit_id\': \'55eda3edc3a3686f17003e0c\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1194885, \'job\': \'First Assistant Editor\', \'name\': \'Dave  Cory\', \'profile_path\': None}, {\'credit_id\': \'55eda4169251413e410148ec\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1439749, \'job\': \'First Assistant Editor\', \'name\': \'Laura Steiger\', \'profile_path\': None}, {\'credit_id\': \'55eda48092514106d600daba\', \'department\': \'Visual Effects\', \'gender\': 0, \'id\': 1506377, \'job\': \'Animation Supervisor\', \'name\': \'Daniel Barrett\', \'profile_path\': \'/pplTJP3gCWmP3SMDrXjOt1579MV.jpg\'}, {\'credit_id\': \'55eda5109251413e32014cf0\', \'department\': \'Sound\', \'gender\': 0, \'id\': 12562, \'job\': \'ADR & Dubbing\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda51ac3a3686f17003e52\', \'department\': \'Editing\', \'gender\': 0, \'id\': 12562, \'job\': \'Dialogue Editor\', \'name\': \'Anna MacKenzie\', \'profile_path\': None}, {\'credit_id\': \'55eda539c3a368090c0051c2\', \'department\': \'Editing\', \'gender\': 0, \'id\': 1342658, \'job\': \'Dialogue Editor\', \'name\': \'Frederick H. Stahly\', \'profile_path\': None}, {\'credit_id\': \'55eda56a9251413e45014adf\', \'department\': \'Sound\', \'gender\': 2, \'id\': 1077782, \'job\': \'Foley\', \'name\': \'Gary A. Hecker\', \'profile_path\': \'/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg\'}, {\'credit_id\': \'55eda58292514106d600daf4\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1367362, \'job\': \'Foley\', \'name\': \'Rick Owens\', \'profile_path\': None}, {\'credit_id\': \'55eda59ac3a3682c5d016b50\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1236340, \'job\': \'Foley\', \'name\': \'Dylan Tuomy-Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda5b09251413e45014af1\', \'department\': \'Sound\', \'gender\': 0, \'id\': 548445, \'job\': \'Foley\', \'name\': \'Jeffrey Wilhoit\', \'profile_path\': None}, {\'credit_id\': \'55eda7169251413e45014b3b\', \'department\': \'Sound\', \'gender\': 2, \'id\': 7239, \'job\': \'Sound Designer\', \'name\': \'Peter Brown\', \'profile_path\': None}, {\'credit_id\': \'55eda73d9251413e4101498c\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1392083, \'job\': \'Sound Designer\', \'name\': \'Ann Scibelli\', \'profile_path\': None}, {\'credit_id\': \'55eda779c3a3682c70014abc\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1413453, \'job\': \'Sound Effects Editor\', \'name\': \'Stephen P. Robinson\', \'profile_path\': None}, {\'credit_id\': \'55eda7989251413e3e015838\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394131, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Jon Taylor\', \'profile_path\': None}, {\'credit_id\': \'55eda7afc3a3686f17003ebf\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1394130, \'job\': \'Sound Re-Recording Mixer\', \'name\': \'Frank A. Monta√±o\', \'profile_path\': None}, {\'credit_id\': \'55eda7d79251413e32014e11\', \'department\': \'Sound\', \'gender\': 0, \'id\': 1309884, \'job\': \'Supervising Sound Editor\', \'name\': \'Joe Dzuban\', \'profile_path\': None}, {\'credit_id\': \'570bd40dc3a36802a30002d9\', \'department\': \'Art\', \'gender\': 0, \'id\': 1424153, \'job\': \'Supervising Art Director\', \'name\': \'Desma Murphy\', \'profile_path\': None}, {\'credit_id\': \'5668cc7a92514174040040f2\', \'department\': \'Sound\', \'gender\': 2, \'id\': 6041, \'job\': \'Original Music Composer\', \'name\': \'Brian Tyler\', \'profile_path\': \'/22QWiNJj03amY6GT1QPUs7dbdcB.jpg\'}, {\'credit_id\': \'58ebe1fa925141281008e943\', \'department\': \'Production\', \'gender\': 2, \'id\': 58191, \'job\': \'Executive Producer\', \'name\': \'Chris Morgan\', \'profile_path\': \'/dUGxIwFBLrSFLImxjeda1krndMO.jpg\'}]'

In [ ]:
crew_list = literal_eval(max_profit_movie_df.iloc[0]['crew'])
literal_eval(max_profit_movie_df.iloc[0]['crew'])

[{'credit_id': '52fe4cc8c3a36847f823e681',
  'department': 'Production',
  'gender': 2,
  'id': 12835,
  'job': 'Producer',
  'name': 'Vin Diesel',
  'profile_path': '/7rwSXluNWZAluYMOEWBxkPmckES.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e687',
  'department': 'Production',
  'gender': 2,
  'id': 11874,
  'job': 'Producer',
  'name': 'Neal H. Moritz',
  'profile_path': '/cNcsEYmoS4niCz3UkVAA09dUIob.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e68d',
  'department': 'Writing',
  'gender': 2,
  'id': 58191,
  'job': 'Writer',
  'name': 'Chris Morgan',
  'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e693',
  'department': 'Writing',
  'gender': 0,
  'id': 8162,
  'job': 'Characters',
  'name': 'Gary Scott Thompson',
  'profile_path': '/e2dMfqFvRsOXgWZ1VToYLmos17y.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e699',
  'department': 'Directing',
  'gender': 2,
  'id': 2127,
  'job': 'Director',
  'name': 'James Wan',
  'profile_path': '/d1LSKfzi5J6QngWS7niN1zPJdud.jpg'},
 {'credit_id': '52fe4cc8c3a36847f823e6a7',
  'department': 'Camera',
  'gender': 2,
  'id': 58192,
  'job': 'Director of Photography',
  'name': 'Stephen F. Windon',
  'profile_path': None},
 {'credit_id': '5534714692514125dc002be4',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1455610,
  'job': 'Animation',
  'name': 'Tony Mecca',
  'profile_path': None},
 {'credit_id': '554fa7b992514110bd002a9d',
  'department': 'Camera',
  'gender': 0,
  'id': 1421687,
  'job': 'Director of Photography',
  'name': 'Marc Spicer',
  'profile_path': None},
 {'credit_id': '554fa7cbc3a36822540047fd',
  'department': 'Production',
  'gender': 1,
  'id': 90635,
  'job': 'Executive Producer',
  'name': 'Samantha Vincent',
  'profile_path': None},
 {'credit_id': '554fa7d89251413fcf00773d',
  'department': 'Production',
  'gender': 0,
  'id': 84064,
  'job': 'Associate Producer',
  'name': 'F. Valentino Morales',
  'profile_path': '/w85eCnNP0VgmfV5NWyq2SvRGi2y.jpg'},
 {'credit_id': '554fa7f2c3a3682254004803',
  'department': 'Production',
  'gender': 2,
  'id': 8181,
  'job': 'Producer',
  'name': 'Michael Fottrell',
  'profile_path': None},
 {'credit_id': '554fa80292514110bd002aa8',
  'department': 'Production',
  'gender': 0,
  'id': 75826,
  'job': 'Producer',
  'name': 'Brandon Birtell',
  'profile_path': None},
 {'credit_id': '55ed993ac3a3682c62015607',
  'department': 'Editing',
  'gender': 0,
  'id': 1204244,
  'job': 'Editor',
  'name': 'Leigh Folsom Boyd',
  'profile_path': None},
 {'credit_id': '55ed994cc3a3687d3b00d64c',
  'department': 'Editing',
  'gender': 0,
  'id': 1204245,
  'job': 'Editor',
  'name': 'Dylan Highsmith',
  'profile_path': None},
 {'credit_id': '55ed995dc3a3682c5d016867',
  'department': 'Editing',
  'gender': 0,
  'id': 62813,
  'job': 'Editor',
  'name': 'Kirk M. Morri',
  'profile_path': None},
 {'credit_id': '55ed99739251413e41014641',
  'department': 'Editing',
  'gender': 2,
  'id': 6668,
  'job': 'Editor',
  'name': 'Christian Wagner',
  'profile_path': None},
 {'credit_id': '55ed99859251413e3a014aae',
  'department': 'Production',
  'gender': 1,
  'id': 9545,
  'job': 'Casting',
  'name': 'Anne McCarthy',
  'profile_path': None},
 {'credit_id': '55ed99a4c3a3682c5d016875',
  'department': 'Production',
  'gender': 0,
  'id': 1276602,
  'job': 'Casting',
  'name': 'Kellie Roy',
  'profile_path': None},
 {'credit_id': '55ed99c7c3a3682c5d01687e',
  'department': 'Art',
  'gender': 0,
  'id': 1445830,
  'job': 'Art Direction',
  'name': 'Jonathan Carlos',
  'profile_path': None},
 {'credit_id': '55ed99d89251413e32014a65',
  'department': 'Art',
  'gender': 2,
  'id': 62780,
  'job': 'Art Direction',
  'name': 'Alan Hook',
  'profile_path': None},
 {'credit_id': '55ed99e992514106d600d85e',
  'department': 'Art',
  'gender': 0,
  'id': 1493864,
  'job': 'Art Direction',
  'name': 'Jay Pelissier',
  'profile_path': None},
 {'credit_id': '55ed9a36c3a3682c700147e3',
  'department': 'Art',
  'gender': 1,
  'id': 1506359,
  'job': 'Art Department Coordinator',
  'name': 'Kelly Richardson',
  'profile_path': None},
 {'credit_id': '55ed9a52c3a3682c640130c3',
  'department': 'Art',
  'gender': 0,
  'id': 1506360,
  'job': 'Art Department Coordinator',
  'name': 'Courtney Cocherell',
  'profile_path': None},
 {'credit_id': '55ed9a6cc3a368090c004f9c',
  'department': 'Art',
  'gender': 0,
  'id': 1326651,
  'job': 'Assistant Art Director',
  'name': 'Elena Albanese',
  'profile_path': None},
 {'credit_id': '55ed9a96c3a3686f17003be1',
  'department': 'Art',
  'gender': 0,
  'id': 1405376,
  'job': 'Assistant Art Director',
  'name': 'Alex McCarroll',
  'profile_path': None},
 {'credit_id': '55ed9acbc3a3682c640130e4',
  'department': 'Art',
  'gender': 0,
  'id': 1338147,
  'job': 'Construction Coordinator',
  'name': 'Bruce Di Valerio',
  'profile_path': None},
 {'credit_id': '55ed9b03c3a3682c640130f5',
  'department': 'Art',
  'gender': 2,
  'id': 52600,
  'job': 'Production Design',
  'name': 'Bill Brzeski',
  'profile_path': None},
 {'credit_id': '55ed9b169251413e2f0145a8',
  'department': 'Art',
  'gender': 1,
  'id': 75391,
  'job': 'Set Decoration',
  'name': 'Danielle Berman',
  'profile_path': None},
 {'credit_id': '55ed9b29c3a3682c5d0168d9',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 2519,
  'job': 'Costume Design',
  'name': 'Sanja Milkovic Hays',
  'profile_path': None},
 {'credit_id': '55ed9bdac3a3682c62015698',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1439109,
  'job': 'Costume Supervisor',
  'name': 'Nava R. Sadan',
  'profile_path': None},
 {'credit_id': '55ed9c0bc3a3686f17003c45',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1439747,
  'job': 'Costume Supervisor',
  'name': 'Andrew Hunt',
  'profile_path': None},
 {'credit_id': '55ed9c3192514106d600d8e0',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506364,
  'job': 'Set Costumer',
  'name': 'Jim Alan Cook',
  'profile_path': None},
 {'credit_id': '55ed9c45c3a3682c5d016925',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1415019,
  'job': 'Set Costumer',
  'name': 'Shayne Allen Duhon',
  'profile_path': None},
 {'credit_id': '55ed9c579251413e32014af5',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506365,
  'job': 'Set Costumer',
  'name': 'Empress Holley',
  'profile_path': None},
 {'credit_id': '55ed9c6d9251413e450148ff',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1413125,
  'job': 'Set Costumer',
  'name': 'Marina Marit',
  'profile_path': None},
 {'credit_id': '55ed9c8d92514106d600d8fb',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506366,
  'job': 'Set Costumer',
  'name': 'Les Morgan',
  'profile_path': None},
 {'credit_id': '55ed9cda9251413e2f014612',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1408293,
  'job': 'Hairstylist',
  'name': 'Linda D. Flowers',
  'profile_path': None},
 {'credit_id': '55ed9cf69251413e2f01461d',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1412767,
  'job': 'Hairstylist',
  'name': "Yesim 'Shimmy' Osman",
  'profile_path': None},
 {'credit_id': '55ed9d0ec3a3687d3b00d73a',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506367,
  'job': 'Hairstylist',
  'name': 'Jennifer Santiago',
  'profile_path': None},
 {'credit_id': '55ed9d2a9251413e3e0155d8',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1425409,
  'job': 'Hairstylist',
  'name': 'Rachel Solow',
  'profile_path': None},
 {'credit_id': '55ed9d4cc3a3682c620156ed',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1452643,
  'job': 'Hairstylist',
  'name': 'Roxane Griffin',
  'profile_path': None},
 {'credit_id': '55ed9d6fc3a3682c5d01696f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1309209,
  'job': 'Makeup Department Head',
  'name': 'James MacKinnon',
  'profile_path': None},
 {'credit_id': '55ed9d8cc3a368090c00504f',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506368,
  'job': 'Makeup Artist',
  'name': 'Autumn Butler',
  'profile_path': None},
 {'credit_id': '55ed9da09251413e3a014b98',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1437798,
  'job': 'Makeup Artist',
  'name': "Roxy D'Alonzo",
  'profile_path': None},
 {'credit_id': '55ed9db79251413e3a014ba5',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1506369,
  'job': 'Makeup Artist',
  'name': 'Hee Soo Kwon',
  'profile_path': None},
 {'credit_id': '55ed9dce9251413e32014b4e',
  'department': 'Costume & Make-Up',
  'gender': 1,
  'id': 1459196,
  'job': 'Makeup Artist',
  'name': 'Sarah Mays',
  'profile_path': None},
 {'credit_id': '55ed9de4c3a3687d3b00d775',
  'department': 'Costume & Make-Up',
  'gender': 2,
  'id': 15330,
  'job': 'Makeup Artist',
  'name': 'Paul Pattison',
  'profile_path': None},
 {'credit_id': '55ed9df99251413e3e015610',
  'department': 'Costume & Make-Up',
  'gender': 0,
  'id': 1317667,
  'job': 'Makeup Artist',
  'name': 'Eleanor Sabaduquia',
  'profile_path': None},
 {'credit_id': '55ed9e1fc3a3687d3b00d77e',
  'department': 'Crew',
  'gender': 0,
  'id': 1414497,
  'job': 'Property Master',
  'name': 'Guillaume DeLouche',
  'profile_path': None},
 {'credit_id': '55ed9e3ac3a368090c005084',
  'department': 'Crew',
  'gender': 0,
  'id': 1464516,
  'job': 'Property Master',
  'name': 'Douglas T. Madison',
  'profile_path': None},
 {'credit_id': '55ed9f5d9251413e3e015662',
  'department': 'Crew',
  'gender': 2,
  'id': 57158,
  'job': 'Second Unit Cinematographer',
  'name': 'Igor Meglic',
  'profile_path': None},
 {'credit_id': '55ed9fa0c3a3682c6401320f',
  'department': 'Crew',
  'gender': 0,
  'id': 13670,
  'job': 'Second Unit Cinematographer',
  'name': 'Jacques Haitkin',
  'profile_path': None},
 {'credit_id': '55ed9fc59251413e32014bbc',
  'department': 'Lighting',
  'gender': 0,
  'id': 1437304,
  'job': 'Gaffer',
  'name': 'Michael Ambrose',
  'profile_path': None},
 {'credit_id': '55ed9fe79251413e410147e4',
  'department': 'Camera',
  'gender': 0,
  'id': 1506371,
  'job': 'Camera Operator',
  'name': 'Denise Bailie',
  'profile_path': None},
 {'credit_id': '55ed9ffa9251413e3a014c40',
  'department': 'Camera',
  'gender': 0,
  'id': 1506373,
  'job': 'Camera Operator',
  'name': 'Robert-James Bova',
  'profile_path': None},
 {'credit_id': '55eda0299251413e3a014c49',
  'department': 'Lighting',
  'gender': 0,
  'id': 1439108,
  'job': 'Rigging Gaffer',
  'name': 'Tom Fendley',
  'profile_path': None},
 {'credit_id': '55eda056c3a3682c7001494b',
  'department': 'Camera',
  'gender': 0,
  'id': 1434896,
  'job': 'Camera Operator',
  'name': 'Sarah Levy',
  'profile_path': None},
 {'credit_id': '55eda06e9251413e450149ee',
  'department': 'Camera',
  'gender': 2,
  'id': 74989,
  'job': 'Camera Operator',
  'name': 'Mark Emery Moore',
  'profile_path': '/mhjX0FuAXv6SeSLLFHpaaiQbx6P.jpg'},
 {'credit_id': '55eda082c3a3682c6b014009',
  'department': 'Camera',
  'gender': 2,
  'id': 1432918,
  'job': 'Camera Operator',
  'name': 'Daniel Nichols',
  'profile_path': None},
 {'credit_id': '55eda09d9251413e3e01569d',
  'department': 'Camera',
  'gender': 0,
  'id': 1439104,
  'job': 'Camera Operator',
  'name': 'Onofrio Nino Pansini',
  'profile_path': None},
 {'credit_id': '55eda0b59251413e3a014c6c',
  'department': 'Camera',
  'gender': 0,
  'id': 1408356,
  'job': 'Camera Operator',
  'name': 'David Richert',
  'profile_path': None},
 {'credit_id': '55eda0d1c3a3686f17003d58',
  'department': 'Camera',
  'gender': 2,
  'id': 1411271,
  'job': 'Camera Operator',
  'name': 'Michael J. Walker',
  'profile_path': None},
 {'credit_id': '55eda0f7c3a3687d3b00d81b',
  'department': 'Camera',
  'gender': 2,
  'id': 1378241,
  'job': 'Camera Operator',
  'name': 'Maurice K. McGuire',
  'profile_path': None},
 {'credit_id': '55eda1159251413e3e0156bd',
  'department': 'Camera',
  'gender': 0,
  'id': 1411842,
  'job': 'Camera Operator',
  'name': 'Richard Latham',
  'profile_path': None},
 {'credit_id': '55eda12c92514106d600da0a',
  'department': 'Camera',
  'gender': 0,
  'id': 1404739,
  'job': 'Helicopter Camera',
  'name': 'Steve Koster',
  'profile_path': None},
 {'credit_id': '55eda1939251413e3501498d',
  'department': 'Camera',
  'gender': 0,
  'id': 91122,
  'job': 'Helicopter Camera',
  'name': 'Dylan Goss',
  'profile_path': None},
 {'credit_id': '55eda1b39251413e3a014ca8',
  'department': 'Camera',
  'gender': 0,
  'id': 82169,
  'job': 'Steadicam Operator',
  'name': 'Geoffrey Haley',
  'profile_path': None},
 {'credit_id': '55eda1c7c3a3686f17003d8c',
  'department': 'Camera',
  'gender': 0,
  'id': 1419105,
  'job': 'Still Photographer',
  'name': 'Scott Garfield',
  'profile_path': None},
 {'credit_id': '55eda1dbc3a3686f17003d92',
  'department': 'Camera',
  'gender': 2,
  'id': 1395281,
  'job': 'Additional Camera',
  'name': 'Bob Gorelick',
  'profile_path': None},
 {'credit_id': '55eda200c3a3682c5d016a8f',
  'department': 'Camera',
  'gender': 0,
  'id': 1375920,
  'job': 'Additional Camera',
  'name': 'J. Christopher Campbell',
  'profile_path': None},
 {'credit_id': '55eda228c3a3682c64013295',
  'department': 'Lighting',
  'gender': 0,
  'id': 1403412,
  'job': 'Gaffer',
  'name': 'Dan Cornwall',
  'profile_path': None},
 {'credit_id': '55eda25f92514106d600da4b',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1442137,
  'job': 'Animation Supervisor',
  'name': 'Catherine Mullan',
  'profile_path': None},
 {'credit_id': '55eda292c3a3682c5d016ab2',
  'department': 'Sound',
  'gender': 0,
  'id': 1393405,
  'job': 'Music Editor',
  'name': 'Robb Boyd',
  'profile_path': None},
 {'credit_id': '55eda2a9c3a3682c6b014075',
  'department': 'Sound',
  'gender': 0,
  'id': 1328758,
  'job': 'Music Editor',
  'name': 'Matthew Llewellyn',
  'profile_path': None},
 {'credit_id': '55eda2c89251413e45014a6d',
  'department': 'Directing',
  'gender': 0,
  'id': 1389138,
  'job': 'Script Supervisor',
  'name': 'Jody Blose',
  'profile_path': None},
 {'credit_id': '55eda305c3a3682c700149c1',
  'department': 'Directing',
  'gender': 0,
  'id': 1408365,
  'job': 'Script Supervisor',
  'name': 'Brenda K. Wachel',
  'profile_path': None},
 {'credit_id': '55eda32dc3a3686f17003ddd',
  'department': 'Crew',
  'gender': 2,
  'id': 8167,
  'job': 'Thanks',
  'name': 'Paul Walker',
  'profile_path': '/iqvYezRoEY5k8wnlfHriHQfl5dX.jpg'},
 {'credit_id': '55eda3b592514106d600da94',
  'department': 'Editing',
  'gender': 0,
  'id': 1400354,
  'job': 'Digital Intermediate',
  'name': 'Amy Pawlowski',
  'profile_path': None},
 {'credit_id': '55eda3d792514106d600da9b',
  'department': 'Editing',
  'gender': 0,
  'id': 110262,
  'job': 'First Assistant Editor',
  'name': 'Richard Conkling',
  'profile_path': None},
 {'credit_id': '55eda3edc3a3686f17003e0c',
  'department': 'Editing',
  'gender': 0,
  'id': 1194885,
  'job': 'First Assistant Editor',
  'name': 'Dave  Cory',
  'profile_path': None},
 {'credit_id': '55eda4169251413e410148ec',
  'department': 'Editing',
  'gender': 0,
  'id': 1439749,
  'job': 'First Assistant Editor',
  'name': 'Laura Steiger',
  'profile_path': None},
 {'credit_id': '55eda48092514106d600daba',
  'department': 'Visual Effects',
  'gender': 0,
  'id': 1506377,
  'job': 'Animation Supervisor',
  'name': 'Daniel Barrett',
  'profile_path': '/pplTJP3gCWmP3SMDrXjOt1579MV.jpg'},
 {'credit_id': '55eda5109251413e32014cf0',
  'department': 'Sound',
  'gender': 0,
  'id': 12562,
  'job': 'ADR & Dubbing',
  'name': 'Anna MacKenzie',
  'profile_path': None},
 {'credit_id': '55eda51ac3a3686f17003e52',
  'department': 'Editing',
  'gender': 0,
  'id': 12562,
  'job': 'Dialogue Editor',
  'name': 'Anna MacKenzie',
  'profile_path': None},
 {'credit_id': '55eda539c3a368090c0051c2',
  'department': 'Editing',
  'gender': 0,
  'id': 1342658,
  'job': 'Dialogue Editor',
  'name': 'Frederick H. Stahly',
  'profile_path': None},
 {'credit_id': '55eda56a9251413e45014adf',
  'department': 'Sound',
  'gender': 2,
  'id': 1077782,
  'job': 'Foley',
  'name': 'Gary A. Hecker',
  'profile_path': '/qyBUauN3XIS2Mlus3OdGCmrUo0S.jpg'},
 {'credit_id': '55eda58292514106d600daf4',
  'department': 'Sound',
  'gender': 0,
  'id': 1367362,
  'job': 'Foley',
  'name': 'Rick Owens',
  'profile_path': None},
 {'credit_id': '55eda59ac3a3682c5d016b50',
  'department': 'Sound',
  'gender': 0,
  'id': 1236340,
  'job': 'Foley',
  'name': 'Dylan Tuomy-Wilhoit',
  'profile_path': None},
 {'credit_id': '55eda5b09251413e45014af1',
  'department': 'Sound',
  'gender': 0,
  'id': 548445,
  'job': 'Foley',
  'name': 'Jeffrey Wilhoit',
  'profile_path': None},
 {'credit_id': '55eda7169251413e45014b3b',
  'department': 'Sound',
  'gender': 2,
  'id': 7239,
  'job': 'Sound Designer',
  'name': 'Peter Brown',
  'profile_path': None},
 {'credit_id': '55eda73d9251413e4101498c',
  'department': 'Sound',
  'gender': 0,
  'id': 1392083,
  'job': 'Sound Designer',
  'name': 'Ann Scibelli',
  'profile_path': None},
 {'credit_id': '55eda779c3a3682c70014abc',
  'department': 'Sound',
  'gender': 0,
  'id': 1413453,
  'job': 'Sound Effects Editor',
  'name': 'Stephen P. Robinson',
  'profile_path': None},
 {'credit_id': '55eda7989251413e3e015838',
  'department': 'Sound',
  'gender': 0,
  'id': 1394131,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Jon Taylor',
  'profile_path': None},
 {'credit_id': '55eda7afc3a3686f17003ebf',
  'department': 'Sound',
  'gender': 0,
  'id': 1394130,
  'job': 'Sound Re-Recording Mixer',
  'name': 'Frank A. Monta√±o',
  'profile_path': None},
 {'credit_id': '55eda7d79251413e32014e11',
  'department': 'Sound',
  'gender': 0,
  'id': 1309884,
  'job': 'Supervising Sound Editor',
  'name': 'Joe Dzuban',
  'profile_path': None},
 {'credit_id': '570bd40dc3a36802a30002d9',
  'department': 'Art',
  'gender': 0,
  'id': 1424153,
  'job': 'Supervising Art Director',
  'name': 'Desma Murphy',
  'profile_path': None},
 {'credit_id': '5668cc7a92514174040040f2',
  'department': 'Sound',
  'gender': 2,
  'id': 6041,
  'job': 'Original Music Composer',
  'name': 'Brian Tyler',
  'profile_path': '/22QWiNJj03amY6GT1QPUs7dbdcB.jpg'},
 {'credit_id': '58ebe1fa925141281008e943',
  'department': 'Production',
  'gender': 2,
  'id': 58191,
  'job': 'Executive Producer',
  'name': 'Chris Morgan',
  'profile_path': '/dUGxIwFBLrSFLImxjeda1krndMO.jpg'}]

In [ ]:
for elem in crew_list:
  if elem['job']=='Producer':
    print(elem['name'], " is a Producer")
  if elem['job']=='Director':
    print(elem['name'], " is a Director")

Vin Diesel  is a Producer
Neal H. Moritz  is a Producer
James Wan  is a Director
Michael Fottrell  is a Producer
Brandon Birtell  is a Producer

In [ ]:
crew_df = pd.DataFrame(crew_list)

In [ ]:
crew_df.head()

                  credit_id  ...                      profile_path
0  52fe4cc8c3a36847f823e681  ...  /7rwSXluNWZAluYMOEWBxkPmckES.jpg
1  52fe4cc8c3a36847f823e687  ...  /cNcsEYmoS4niCz3UkVAA09dUIob.jpg
2  52fe4cc8c3a36847f823e68d  ...  /dUGxIwFBLrSFLImxjeda1krndMO.jpg
3  52fe4cc8c3a36847f823e693  ...  /e2dMfqFvRsOXgWZ1VToYLmos17y.jpg
4  52fe4cc8c3a36847f823e699  ...  /d1LSKfzi5J6QngWS7niN1zPJdud.jpg

[5 rows x 7 columns]

In [ ]:
crew_df[(crew_df['job']=='Producer') | (crew_df['job']=='Director')]

                   credit_id  ...                      profile_path
0   52fe4cc8c3a36847f823e681  ...  /7rwSXluNWZAluYMOEWBxkPmckES.jpg
1   52fe4cc8c3a36847f823e687  ...  /cNcsEYmoS4niCz3UkVAA09dUIob.jpg
4   52fe4cc8c3a36847f823e699  ...  /d1LSKfzi5J6QngWS7niN1zPJdud.jpg
10  554fa7f2c3a3682254004803  ...                              None
11  554fa80292514110bd002aa8  ...                              None

[5 rows x 7 columns]

In [ ]:
crew_df[crew_df['job'].isin(['Producer', 'Director'])]

                   credit_id  ...                      profile_path
0   52fe4cc8c3a36847f823e681  ...  /7rwSXluNWZAluYMOEWBxkPmckES.jpg
1   52fe4cc8c3a36847f823e687  ...  /cNcsEYmoS4niCz3UkVAA09dUIob.jpg
4   52fe4cc8c3a36847f823e699  ...  /d1LSKfzi5J6QngWS7niN1zPJdud.jpg
10  554fa7f2c3a3682254004803  ...                              None
11  554fa80292514110bd002aa8  ...                              None

[5 rows x 7 columns]

In [ ]:
cast_df = pd.DataFrame(literal_eval(max_profit_movie_df.iloc[0]['cast']))

In [ ]:
cast_df

    cast_id  ...                      profile_path
0        17  ...  /7rwSXluNWZAluYMOEWBxkPmckES.jpg
1        19  ...  /iqvYezRoEY5k8wnlfHriHQfl5dX.jpg
2        18  ...  /kuqFzlYMc2IrsOyPznMd1FroeGq.jpg
3        20  ...  /v37VK0MNuRuJOCKPKJcZAJXRA5r.jpg
4        28  ...  /a3tyF7QXgeEH0QuEuIzNZZ8oLNS.jpg
5        31  ...  /xLfq9wFO6dtYuUK96hbJ8I8EKFw.jpg
6        24  ...  /dORwXZWWmDgG66I5i2Fnr27g3fO.jpg
7        25  ...  /y22Pb0XAVqC0l7ukzKKtXzPEuHk.jpg
8        30  ...  /qq0uXKe3aKaAE04QQ0BvbbFFufF.jpg
9        21  ...  /5eGHTV1bLOdajC4Z3pnIdSiptSG.jpg
10       27  ...  /yYiJwunH04doOZJgMu7qTZyrRYJ.jpg
11       22  ...  /rlnFuNkisPpuypARI7QaGCmOY6V.jpg
12       16  ...   /PhWiWgasncGWD9LdbsGcmxkV4r.jpg
13       39  ...  /fqt53KEfHWsRDcbV2YAY2lKlKrM.jpg
14       38  ...  /34kHAyBaBhq2kUrmhM15paEBuuI.jpg
15       15  ...  /41qZZc6vRVm5ZOoXWfEf5NGoIZR.jpg
16       23  ...  /c1km2kqasJT9GTISMbBZpp3jbuR.jpg
17       35  ...  /mI5urNyZJAzIGxelTjBkm624DkB.jpg
18       37  ...  /sE73Zs4q8rugmrFnn9jv2wAEVrI.jpg
19       34  ...  /1d31uDYub8TaLOPWfgX78OotduD.jpg
20       36  ...  /AmT132VCz3InJBAQQPJnqqgsQsB.jpg
21      145  ...                              None
22      146  ...                              None
23      133  ...  /xxzcCrgD38jOyCRlbBA5ksfrN14.jpg
24      147  ...  /dzu9JUDSHDXrnit7ZlOnJuRJj1X.jpg
25       26  ...   /KG5skDx5WeGDijkUUQnmOP0crG.jpg
26      148  ...  /u1agQE1nYgt2LOijksYJMPYxpKh.jpg
27      135  ...  /iKcRuLRwmcuoD43E4X0YlYquYGD.jpg
28      132  ...  /qerkK7Z26GttfJ8Sq6xMwhkYLq3.jpg
29      149  ...                              None
30      150  ...   /v1cwS9Ia89pO154Wje3m4IxuI3.jpg
31      130  ...  /iDPgSaDVhwIItvqa2Wn79oaUzf8.jpg
32      151  ...  /58nvO2Se7TS0ETUEzHHjJ0MLH5U.jpg
33      152  ...                              None
34      153  ...                              None
35      154  ...  /8nfPK3sFpHzw0uu66LmTK9HcQ5G.jpg
36      155  ...  /xl0O9d7xS6XGSRqQl16StOxtkOR.jpg
37      156  ...                              None
38      140  ...                              None
39      157  ...  /v6pTsqgOHE5TldFV63Kr44idQNe.jpg
40      131  ...  /u1eKIGLkK2GTpqFArNxgAMTMhOj.jpg
41      158  ...  /lbt98DkUpRNoJXiFbXzQfhMIRt4.jpg
42      159  ...  /eQXBzPjo9K8MG9TVOoQDNoHEFwv.jpg
43      160  ...                              None
44      161  ...  /9cw97jnvm7SvnCTNBWZHXt4clfu.jpg
45      143  ...  /pz7i7LV35XRC5Si8liRoYWdrcr0.jpg
46      142  ...  /68xBLk7FvQ36v794LbOrMxeOJeQ.jpg
47       29  ...  /A1rHY9B5R9cIQshClcJxBYINg1m.jpg
48      144  ...  /f1INIG2TE9jXXp5A3gGJR9UkePK.jpg
49      141  ...                              None
50      139  ...                              None
51       45  ...  /6InC9qPrftOqsRK9ALcKFLHXSLV.jpg

[52 rows x 8 columns]

In [ ]:
print('The movie which made the highest profit was ', max_profit_movie_df.title.iloc[0])

The movie which made the highest profit was  Furious 7

In [ ]:
print('The producer(s) of this movie: ', crew_df[crew_df['job']=='Producer']['name'].tolist())

The producer(s) of this movie:  ['Vin Diesel', 'Neal H. Moritz', 'Michael Fottrell', 'Brandon Birtell']

In [ ]:
print('The director(s) of this movie: ', crew_df[crew_df['job']=='Director']['name'].tolist())

The director(s) of this movie:  ['James Wan']

In [ ]:
print('The actor(s) of this movie: ', cast_df['name'].tolist())

The actor(s) of this movie:  ['Vin Diesel', 'Paul Walker', 'Dwayne Johnson', 'Michelle Rodriguez', 'Tyrese Gibson', 'Ludacris', 'Jordana Brewster', 'Djimon Hounsou', 'Tony Jaa', 'Ronda Rousey', 'Nathalie Emmanuel', 'Kurt Russell', 'Jason Statham', 'Sung Kang', 'Gal Gadot', 'Lucas Black', 'Elsa Pataky', 'Noel Gugliemi', 'John Brotherton', 'Luke Evans', 'Ali Fazal', 'Miller Kimsey', 'Charlie Kimsey', 'Eden Estrella', 'Gentry White', 'Iggy Azalea', 'Jon Lee Brody', 'Levy Tran', 'Anna Colwell', 'Viktor Hernandez', 'Steve Coulter', 'Robert Pralgo', 'Antwan Mills', 'J.J. Phillips', 'Jorge Ferragut', 'Sara Sohn', 'Benjamin Blankenship', 'D.J. Hapa', 'T-Pain', 'Brian Mahoney', 'Brittney Alger', 'Romeo Santos', 'Jocelin Donahue', 'Stephanie Langston', 'Jorge-Luis Pallo', 'Tego Calder√≥n', 'Nathalie Kelley', 'Shad Moss', 'Don Omar', 'Klement Tinaj', 'Caleb Walker', 'Cody Walker']

# 2. This data has information about movies made in different languages. Which language has the highest average ROI (return on investment)?

In [ ]:
median_budget_of_sane_data = imdb_df[imdb_df['budget']>1000000]['budget'].median()

In [ ]:
imdb_df.loc[imdb_df['budget']<1000000, 'budget'] = median_budget_of_sane_data

In [ ]:
#imdb_df.replace({'budget': 0}, imdb_df[imdb_df['budget']!=0]['budget'].median(), inplace=True)

In [ ]:
imdb_df['profit'] = imdb_df['revenue'] - imdb_df['budget']
imdb_df['roi'] = 100 * imdb_df['profit']/imdb_df['budget']

In [ ]:
imdb_df.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
imdb_df['roi'].max()

11623.5147

In [ ]:
imdb_df.original_language.unique()

array(['en', 'hi', 'ko', 'sr', 'fr', 'it', 'nl', 'zh', 'es', 'cs', 'ta',
       'cn', 'ru', 'tr', 'ja', 'fa', 'sv', 'de', 'te', 'pt', 'mr', 'da',
       'fi', 'el', 'ur', 'he', 'no', 'ar', 'nb', 'ro', 'vi', 'pl', 'hu',
       'ml', 'bn', 'id'], dtype=object)

In [ ]:
imdb_df[imdb_df.original_language=='en']['roi'].mean()

180.64216914276872

In [ ]:
roi_languages_df = imdb_df.groupby('original_language')['roi'].mean().reset_index()

In [ ]:
max_roi_lan = roi_languages_df[roi_languages_df['roi']==roi_languages_df['roi'].max()]

In [ ]:
print('The language with the highest average RoI is :', max_roi_lan['original_language'].iloc[0])

The language with the highest average RoI is : he

# 3. Find out the unique genres of movies in this dataset.

In [ ]:
imdb_df.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
literal_eval('[1, 2, 3]')

[1, 2, 3]

In [ ]:
imdb_df_no_na_genres = imdb_df[~imdb_df['genres'].isna()]

In [ ]:
len(imdb_df_no_na_genres)

2993

In [ ]:
imdb_df_no_na_genres.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
len(imdb_df[~imdb_df['genres'].isna()])

2993

In [ ]:
imdb_df_drop_na_genres = imdb_df['genres'].dropna()

In [ ]:
len(imdb_df_drop_na_genres)

2993

In [ ]:
imdb_df_drop_na_genres.head()

0                       [{'id': 35, 'name': 'Comedy'}]
1    [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2                        [{'id': 18, 'name': 'Drama'}]
3    [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4    [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...
Name: genres, dtype: object

In [ ]:
imdb_df_no_na_genres.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
imdb_df_no_na_genres['genres_list'] = imdb_df_no_na_genres.apply(lambda row: literal_eval(row['genres']), axis=1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
imdb_df_no_na_genres.head()

   id  ...                                        genres_list
0   1  ...                     [{'id': 35, 'name': 'Comedy'}]
1   2  ...  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
2   3  ...                      [{'id': 18, 'name': 'Drama'}]
3   4  ...  [{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...
4   5  ...  [{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...

[5 rows x 26 columns]

In [ ]:
genres_list = []
for index, row in imdb_df_no_na_genres.iterrows():
  genre_list = imdb_df_no_na_genres.loc[index, 'genres_list']
  for elem in genre_list:
    genres_list.append(elem['name'])

In [ ]:
genres_list[0:5]

['Comedy', 'Comedy', 'Drama', 'Family', 'Romance']

In [ ]:
set(genres_list)

{'Action',
 'Adventure',
 'Animation',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Foreign',
 'History',
 'Horror',
 'Music',
 'Mystery',
 'Romance',
 'Science Fiction',
 'TV Movie',
 'Thriller',
 'War',
 'Western'}

In [ ]:
genres_df = pd.DataFrame()
for index, row in imdb_df_no_na_genres.iterrows():
  genre_list = imdb_df_no_na_genres.loc[index, 'genres_list']
  genres_df = genres_df.append(pd.DataFrame(genre_list), ignore_index=True)

In [ ]:
genres_df.head()

      id     name
0     35   Comedy
1     35   Comedy
2     18    Drama
3  10751   Family
4  10749  Romance

In [ ]:
genres_df.drop_duplicates()

         id             name
0        35           Comedy
2        18            Drama
3     10751           Family
4     10749          Romance
6        53         Thriller
8        28           Action
10       16        Animation
11       12        Adventure
13       27           Horror
15       99      Documentary
18    10402            Music
27       80            Crime
30      878  Science Fiction
31     9648          Mystery
53    10769          Foreign
77       14          Fantasy
95    10752              War
96       37          Western
220      36          History
4226  10770         TV Movie

# 4. Make a table of all the producers and directors of each movie. Find the top 3 producers who have produced movies with the highest average RoI?

In [ ]:
movie producers directors

movie1 [p1, p2] [d1, d2]
movie2 [p3, p4] [d3, d4]

movie producers roi

movie1 p1 12
movie1 p2 13
movie2 p3 14
movie2 p4 15

In [ ]:
producer   movies            average_roi
p1.    [m1, m2, m3]    avg_roi(m1, m2, m3)
p2     [m2, m4, m5]    avg_roi(m2, m4, m5)

In [ ]:
imdb_df.head()

   id                              belongs_to_collection  ...    profit          roi
0   1  [{'id': 313576, 'name': 'Hot Tub Time Machine ...  ...  -1685349   -12.038207
1   2  [{'id': 107674, 'name': 'The Princess Diaries ...  ...  55149435   137.873588
2   3                                                NaN  ...   9792000   296.727273
3   4                                                NaN  ...  14800000  1233.333333
4   5                                                NaN  ... -15576030   -79.877077

[5 rows x 25 columns]

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
 23  profit                 3000 non-null   int64
 24  roi                    3000 non-null   float64
dtypes: float64(3), int64(4), object(18)
memory usage: 586.1+ KB

In [ ]:
imdb_df_no_na_crew = imdb_df[~imdb_df['crew'].isna()]

In [ ]:
len(imdb_df_no_na_crew)

2984

In [ ]:
def get_producers_and_directors(string_rep_of_crew_list):
  try:
    crew_list = literal_eval(string_rep_of_crew_list)
    producer_list = []
    director_list = []
    for elem in crew_list:
      if elem['job']=='Producer':
        producer_list.append(elem['name'])
      if elem['job']=='Director':
        director_list.append(elem['name'])
    return producer_list, director_list
  except:
    return [], []

In [ ]:
get_producers_and_directors(imdb_df_no_na_crew.loc[1, 'crew'])

(['Whitney Houston', 'Mario Iscovich', 'Debra Martin Chase'],
 ['Garry Marshall'])

In [ ]:
imdb_df[['producers', 'directors']] = imdb_df.apply(lambda s: get_producers_and_directors(s['crew']), axis=1, result_type="expand")
#imdb_df[['pnd']] = imdb_df.apply(lambda s: get_producers_and_directors(s['crew']), axis=1)

In [ ]:
imdb_df.head()

   id  ...                                                pnd
0   1  ...                     ([Andrew Panay], [Steve Pink])
1   2  ...  ([Whitney Houston, Mario Iscovich, Debra Marti...
2   3  ...  ([David Lancaster, Michel Litvak, Jason Blum, ...
3   4  ...                     ([Sujoy Ghosh], [Sujoy Ghosh])
4   5  ...                             ([], [Jong-seok Yoon])

[5 rows x 28 columns]

In [ ]:
{
    'p1':{'movies':['m1, m2, m3'], 'avg_roi':23},
 'p2':{}

}

In [ ]:
imdb_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 28 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     3000 non-null   int64
 1   belongs_to_collection  604 non-null    object
 2   budget                 3000 non-null   int64
 3   genres                 2993 non-null   object
 4   homepage               946 non-null    object
 5   imdb_id                3000 non-null   object
 6   original_language      3000 non-null   object
 7   original_title         3000 non-null   object
 8   overview               2992 non-null   object
 9   popularity             3000 non-null   float64
 10  poster_path            2999 non-null   object
 11  production_companies   2844 non-null   object
 12  production_countries   2945 non-null   object
 13  release_date           3000 non-null   object
 14  runtime                2998 non-null   float64
 15  spoken_languages       2980 non-null   object
 16  status                 3000 non-null   object
 17  tagline                2403 non-null   object
 18  title                  3000 non-null   object
 19  Keywords               2724 non-null   object
 20  cast                   2987 non-null   object
 21  crew                   2984 non-null   object
 22  revenue                3000 non-null   int64
 23  profit                 3000 non-null   int64
 24  roi                    3000 non-null   float64
 25  producers              3000 non-null   object
 26  directors              3000 non-null   object
 27  pnd                    3000 non-null   object
dtypes: float64(3), int64(4), object(21)
memory usage: 656.4+ KB

In [ ]:
producer_dict = {}
for index, row in imdb_df.iterrows():
  for producer in row['producers']:
    if producer not in producer_dict.keys():
      # add producer in dict
      producer_dict[producer] = [row['roi']]
    else:
      # update the movie for this producer
      value = producer_dict[producer]
      value.append(row['roi'])
      producer_dict[producer] = value

In [ ]:
#data = {'row_1': [3, 2, 1, 0], 'row_2': ['a', 'b', 'c', 'd']}
pd.DataFrame.from_dict(producer_dict, orient='index').mean(axis=1).reset_index().rename(columns={'index':'producer', 0:'average_roi'}).sort_values('average_roi', ascending=False)

                producer  average_roi
2635       Michael White  9307.693250
1526       Gregg Hoffman  8559.305750
3205      Nelson Greaves  6188.209000
2842    Howard G. Minsky  6100.000000
1264      Norman Spencer  5458.946615
...                  ...          ...
1804     Arthur H. Nadel   -99.999964
1805        Lou Scheimer   -99.999964
1970          Elia Kazan   -99.999974
601    Pushpa Kandaswamy   -99.999985
2541  Erich von Stroheim   -99.999995

[3546 rows x 2 columns]

# 5. Which actor has acted in the most number of movies? Deep dive into the movies, genres and profits corresponding to this actor.

# 6. Top 3 directors prefer which actors the most?